workflows/noesis-telegram-content-moderation.workflow.json
{"updatedAt":"2026-05-23T10:41:48.458Z","createdAt":"2026-05-11T08:46:59.416Z","id":"8sW21dCQ9WEAQ5HK","name":"Noesis Telegram Content Moderation","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"086fce81-e29a-4a16-99a6-dc566509eb61","leftValue":"={{ $json.valid }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[8400,288],"id":"33957974-b981-4a3d-968a-2c6f3ccec57b","name":"IF Valid Question"},{"parameters":{"chatId":"={{ $('Telegram Trigger Noesis').item.json.message.chat.id }}","text":"={{ \"Question was not added.\\n\\nError: \" + ($json.error || \"unknown error\") }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[8624,384],"id":"154e2feb-c9ef-434a-b87b-5d5cc3766888","name":"False IF Valid Question","webhookId":"7cbd868a-55d7-406e-b39a-176a988a587e","credentials":{"telegramApi":{"id":"WLaUgunVuF7TVeQx","name":"Telegram account"}}},{"parameters":{"authentication":"serviceAccount","operation":"upsert","projectId":"=studio-2985968119-3ca85","collection":"pendingQuestions","updateKey":"questionId","columns":"=questionId, status, targetCollectionPath, targetLevelDocumentPath, documentData, previewText, telegramChatId, originalTelegramMessageId, generationOptions, createdAt, updatedAt, provenance"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[9072,96],"id":"eb54e4c7-ba6a-4ffd-bfa1-ca7f32760236","name":"Save Pending Question","credentials":{"googleApi":{"id":"i4yPKjshhrkRZM1L","name":"Google Firebase Cloud Firestore account"}}},{"parameters":{"jsCode":"return $input.all().map((item) => {\n  const source = item.json;\n\n  return {\n    json: {\n      questionId: source.questionId,\n      status: \"pending_review\",\n\n      targetCollectionPath: source.collectionPath,\n      targetLevelDocumentPath: source.levelDocumentPath,\n\n      documentData: source.documentData,\n      previewText: source.previewText,\n\n      telegramChatId: source.telegramChatId,\n      originalTelegramMessageId: source.originalTelegramMessageId,\n      \n      provenance: source.documentData?.provenance || null,\n      generationOptions: source.generationOptions || null,\n\n      createdAt: source.createdAt || new Date().toISOString(),\n      updatedAt: new Date().toISOString()\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8848,96],"id":"01ce0322-4c18-4c51-a4ad-b5c622e6aa0d","name":"Prepare Pending Document"},{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-336,416],"id":"a2544cbb-a687-454f-90dd-7a6db59f78f2","name":"Telegram Trigger Noesis","webhookId":"bb52fee9-6009-415e-aed9-c507f97a721d","credentials":{"telegramApi":{"id":"WLaUgunVuF7TVeQx","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"35673948-b06a-4d74-9222-26724f3b0a99","leftValue":"={{ $json.callback_query }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[112,320],"id":"a3920c33-e946-4aa4-87a1-aa1523696360","name":"IF Callback Query"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst callback = input.callback_query;\n\nif (!callback) {\n  return [\n    {\n      json: {\n        validCallback: false,\n        error: \"This is not a callback query.\",\n        responseText: \"This is not a callback query.\",\n        debugInput: input\n      }\n    }\n  ];\n}\n\nconst data = String(callback.data || \"\").replace(/^=/, \"\");\nconst [action, questionId] = data.split(\"|\");\n\nconst allowedActions = [\"approve\", \"revise\", \"reject\"];\n\nconst chatId =\n  callback.message?.chat?.id ||\n  callback.from?.id ||\n  59229320;\n\nif (!allowedActions.includes(action)) {\n  return [\n    {\n      json: {\n        validCallback: false,\n        error: `Unknown action: ${action}`,\n        callbackData: data,\n        callbackQueryId: callback.id,\n        telegramChatId: String(chatId),\n        responseText: `Unknown action: ${action}`\n      }\n    }\n  ];\n}\n\nif (!questionId) {\n  return [\n    {\n      json: {\n        validCallback: false,\n        error: \"Missing questionId in callback data.\",\n        callbackData: data,\n        callbackQueryId: callback.id,\n        telegramChatId: String(chatId),\n        responseText: \"Missing question ID.\"\n      }\n    }\n  ];\n}\n\nconst actionLabels = {\n  approve: \"Selected action: approve question and write it to database.\",\n  revise: \"Selected action: revise question.\",\n  reject: \"Selected action: reject question.\"\n};\n\nreturn [\n  {\n    json: {\n      validCallback: true,\n      action,\n      questionId,\n      callbackQueryId: callback.id,\n      telegramChatId: String(chatId),\n      telegramMessageId: callback.message?.message_id,\n      telegramFromId: callback.from?.id,\n      callbackData: data,\n      responseText: `${actionLabels[action]}\\n\\nQuestion ID:\\n${questionId}`\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[336,-512],"id":"ec3bf235-2b12-4c0f-b949-049f9b855806","name":"Parse Callback"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"85e5bdd8-f3f6-41ec-b3f4-c9b01c6e0395","leftValue":"=={{ String($json.message?.from?.id || $json.callback_query?.from?.id || \"\") === \"59229320\" }}","rightValue":59229320,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-112,416],"id":"13dbe9fc-7771-4529-9f22-6df3dc8ff9c3","name":"IF Access"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"approve","operator":{"type":"string","operation":"equals"},"id":"24c24485-1533-4528-9040-a18dc3a71ef0"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5ac32374-4fbe-44e5-a1a1-ac7ba437024e","leftValue":"={{ $json.action }}","rightValue":"revise","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6187d3f4-678d-42a9-83ee-37cdeaa08aad","leftValue":"={{ $json.action }}","rightValue":"reject","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[560,-528],"id":"2cb2fde1-f913-4326-94b1-f0a6a7e93945","name":"Switch Callback Action"},{"parameters":{"authentication":"serviceAccount","operation":"upsert","projectId":"studio-2985968119-3ca85","collection":"={{ $json.targetCollectionPath }}","updateKey":"questionId","columns":"questionId, type, question, answers, correctAnswerIndices, explanation, topics, scientificDisciplines, recommendedLiterature, provenance"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[1904,-800],"id":"e5cd6434-5372-4f6c-b0ca-8e655588e86a","name":"Save Approved Question","credentials":{"googleApi":{"id":"i4yPKjshhrkRZM1L","name":"Google Firebase Cloud Firestore account"}}},{"parameters":{"authentication":"serviceAccount","projectId":"studio-2985968119-3ca85","collection":"pendingQuestions","documentId":"={{ $json.questionId }}"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[784,-752],"id":"6328ad55-b296-4cb7-a394-0c2877147fdb","name":"Get Pending Question","credentials":{"googleApi":{"id":"i4yPKjshhrkRZM1L","name":"Google Firebase Cloud Firestore account"}}},{"parameters":{"chatId":"={{ $json.telegramChatId }}","text":"={{ \"Question saved to database.\\n\\nID: \" + $json.questionId + \"\\nPath: \" + $json.targetCollectionPath }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2128,-800],"id":"dfcd459c-2b60-4325-adec-ef98db9e4207","name":"Send Approve Success","webhookId":"efa7e173-9864-43ec-a41c-28624e70005b","credentials":{"telegramApi":{"id":"WLaUgunVuF7TVeQx","name":"Telegram account"}}},{"parameters":{"jsCode":"function fail(message, errorType = \"validation_error\") {\n  const input = $input.item?.json || {};\n\n  return [\n    {\n      json: {\n        valid: false,\n        error: message,\n        errorType,\n        telegramChatId: input.message?.chat?.id || input.telegramChatId || null,\n        telegramFromId: input.message?.from?.id || input.telegramFromId || null,\n        originalTelegramMessageId: input.message?.message_id || input.originalTelegramMessageId || null,\n        generationOptions: input.generationOptions || null\n      }\n    }\n  ];\n}\n\nfunction isMissing(value) {\n  return (\n    value === undefined ||\n    value === null ||\n    String(value).trim() === \"\" ||\n    String(value).trim().toLowerCase() === \"undefined\" ||\n    String(value).trim().toLowerCase() === \"null\"\n  );\n}\n\nfunction translitUk(value) {\n  return String(value || \"\")\n    .toLowerCase()\n    .trim()\n    .normalize(\"NFKD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/\\u0449/g, \"shch\")\n    .replace(/\\u0448/g, \"sh\")\n    .replace(/\\u0447/g, \"ch\")\n    .replace(/\\u0436/g, \"zh\")\n    .replace(/\\u0445/g, \"kh\")\n    .replace(/\\u0446/g, \"ts\")\n    .replace(/\\u044e/g, \"iu\")\n    .replace(/\\u044f/g, \"ia\")\n    .replace(/\\u0454/g, \"ie\")\n    .replace(/\\u0457/g, \"i\")\n    .replace(/\\u0456/g, \"i\")\n    .replace(/\\u0491/g, \"g\")\n    .replace(/\\u0439/g, \"i\")\n    .replace(/\\u0430/g, \"a\")\n    .replace(/\\u0431/g, \"b\")\n    .replace(/\\u0432/g, \"v\")\n    .replace(/\\u0433/g, \"h\")\n    .replace(/\\u0434/g, \"d\")\n    .replace(/\\u0435/g, \"e\")\n    .replace(/\\u0437/g, \"z\")\n    .replace(/\\u0438/g, \"y\")\n    .replace(/\\u043a/g, \"k\")\n    .replace(/\\u043b/g, \"l\")\n    .replace(/\\u043c/g, \"m\")\n    .replace(/\\u043d/g, \"n\")\n    .replace(/\\u043e/g, \"o\")\n    .replace(/\\u043f/g, \"p\")\n    .replace(/\\u0440/g, \"r\")\n    .replace(/\\u0441/g, \"s\")\n    .replace(/\\u0442/g, \"t\")\n    .replace(/\\u0443/g, \"u\")\n    .replace(/\\u0444/g, \"f\")\n    .replace(/\\u044c/g, \"\");\n}\n\nfunction slugify(value) {\n  return translitUk(value)\n    .replace(/[^a-z0-9]+/g, \"-\")\n    .replace(/^-+|-+$/g, \"\")\n    .slice(0, 60);\n}\n\nfunction randomId(length = 4) {\n  const chars = \"abcdefghijklmnopqrstuvwxyz0123456789\";\n  let result = \"\";\n\n  for (let i = 0; i < length; i++) {\n    result += chars[Math.floor(Math.random() * chars.length)];\n  }\n\n  return result;\n}\n\nfunction formatAnswerPreview(data) {\n  if (Array.isArray(data.answers)) {\n    return data.answers\n      .map((answer, index) => {\n        const isCorrect =\n          Array.isArray(data.correctAnswerIndices) &&\n          data.correctAnswerIndices.includes(index);\n\n        return `${index + 1}. ${answer}${isCorrect ? \" [correct]\" : \"\"}`;\n      })\n      .join(\"\\n\");\n  }\n\n  if (data.type === \"TRUE_FALSE\") {\n    return `Correct answer: ${data.correctAnswer ? \"true\" : \"false\"}`;\n  }\n\n  if (Array.isArray(data.correctAnswers)) {\n    return `Correct answers: ${data.correctAnswers.join(\", \")}`;\n  }\n\n  if (data.type === \"MATCHING\") {\n    return [\n      \"Left side:\",\n      ...(data.leftSide || []).map((x, i) => `${i + 1}. ${x}`),\n      \"\",\n      \"Right side:\",\n      ...(data.rightSide || []).map((x, i) => `${i + 1}. ${x}`)\n    ].join(\"\\n\");\n  }\n\n  if (data.type === \"COMPARISON\") {\n    return [\n      \"Categories:\",\n      ...(data.categories || []).map((x, i) => `${i + 1}. ${x}`),\n      \"\",\n      \"Statements:\",\n      ...(data.statements || []).map((x, i) => `${i + 1}. ${x.text}`)\n    ].join(\"\\n\");\n  }\n\n  return \"Preview is not configured for this question type.\";\n}\n\nconst input = $input.item.json;\nconst messageText = input.message?.text;\n\nif (!messageText) {\n  return fail(\"Telegram message has no text.\");\n}\n\nif (messageText.startsWith(\"/\")) {\n  return fail(\"This is a Telegram command, not question JSON.\");\n}\n\nlet payload;\n\ntry {\n  payload = JSON.parse(messageText);\n} catch (error) {\n  return fail(\"Message is not valid JSON.\");\n}\n\nif (!payload || typeof payload !== \"object\" || Array.isArray(payload)) {\n  return fail(\"Parsed JSON must be an object.\");\n}\n\nif (payload.status === \"insufficient_sources\") {\n  return fail(\n    payload.reason || \"Insufficient sources for question generation.\",\n    \"insufficient_sources\"\n  );\n}\n\nif (!payload.data && Array.isArray(payload.questions) && payload.questions.length > 0) {\n  const firstQuestion = payload.questions[0];\n\n  payload = {\n    categoryId: !isMissing(firstQuestion.categoryId)\n      ? firstQuestion.categoryId\n      : !isMissing(payload.categoryId)\n        ? payload.categoryId\n        : input.generationOptions?.categoryId,\n\n    levelId: !isMissing(firstQuestion.levelId)\n      ? firstQuestion.levelId\n      : !isMissing(payload.levelId)\n        ? payload.levelId\n        : input.generationOptions?.levelId,\n\n    num: !isMissing(firstQuestion.num)\n      ? firstQuestion.num\n      : !isMissing(payload.num)\n        ? payload.num\n        : input.generationOptions?.num ?? 1,\n\n    block: !isMissing(firstQuestion.block)\n      ? firstQuestion.block\n      : !isMissing(payload.block)\n        ? payload.block\n        : input.generationOptions?.block,\n\n    slug: firstQuestion.slug || payload.slug,\n    data: firstQuestion.data || firstQuestion\n  };\n}\n\npayload.categoryId = isMissing(payload.categoryId)\n  ? input.generationOptions?.categoryId\n  : payload.categoryId;\n\npayload.levelId = isMissing(payload.levelId)\n  ? input.generationOptions?.levelId\n  : payload.levelId;\n\npayload.block = isMissing(payload.block)\n  ? input.generationOptions?.block\n  : payload.block;\n\npayload.num = isMissing(payload.num)\n  ? input.generationOptions?.num ?? 1\n  : payload.num;\n\nif (payload.data && typeof payload.data === \"object\") {\n  if (isMissing(payload.data.type) && input.generationOptions?.type) {\n    payload.data.type = input.generationOptions.type;\n  }\n\n  if (typeof payload.data.type === \"string\") {\n    payload.data.type = payload.data.type.trim().toUpperCase();\n  }\n}\n\nconst allowedCategories = [\n  \"erudite\",\n  \"science\",\n  \"philosophy\",\n  \"culture\",\n  \"noesis\",\n  \"agora\"\n];\n\nconst allowedTypes = [\n  \"SINGLE_CHOICE\",\n  \"MULTIPLE_CHOICE\",\n  \"TRUE_FALSE\",\n  \"SEQUENCE\",\n  \"MATCHING\",\n  \"COMPARISON\",\n  \"TEXT_INPUT\",\n  \"FILL_IN_THE_BLANK\",\n  \"IMAGE_CHOICE\",\n  \"READING_COMPREHENSION\",\n  \"SLIDER_SCALE\",\n  \"TEN_FACTS\"\n];\n\nconst categoryId = payload.categoryId;\nconst levelId = String(payload.levelId || \"\");\nconst rawNum = payload.num;\nconst num = Number(rawNum);\nconst block = String(payload.block || \"\").toUpperCase();\nconst rawSlug = payload.slug;\nconst data = payload.data;\n\nif (!allowedCategories.includes(categoryId)) {\n  return fail(\"Invalid categoryId.\");\n}\n\nif (!levelId) {\n  return fail(\"Missing levelId.\");\n}\n\nif (!Number.isInteger(num) || num < 1 || num > 999) {\n  return fail(\"num must be an integer from 1 to 999.\");\n}\n\nif (!/^[A-Z]$/.test(block)) {\n  return fail(\"block must be one uppercase letter.\");\n}\n\nif (!data || typeof data !== \"object\") {\n  return fail(\"Missing data object.\");\n}\n\nif (data.lang !== \"ua\") {\n  return fail(\"data.lang must be ua.\");\n}\n\nfunction normalizeQuestionType(value) {\n  const raw = String(value || \"\")\n    .trim()\n    .toUpperCase()\n    .replace(/[\\s-]+/g, \"_\")\n    .replace(/_+/g, \"_\");\n\n  const aliases = {\n    SINGLECHOICE: \"SINGLE_CHOICE\",\n    SINGLE_CHOICE: \"SINGLE_CHOICE\",\n\n    MULTIPLECHOICE: \"MULTIPLE_CHOICE\",\n    MULTIPLE_CHOICE: \"MULTIPLE_CHOICE\",\n\n    TRUEFALSE: \"TRUE_FALSE\",\n    TRUE_FALSE: \"TRUE_FALSE\",\n\n    FILLINTHEBLANK: \"FILL_IN_THE_BLANK\",\n    FILL_IN_THE_BLANK: \"FILL_IN_THE_BLANK\",\n\n    TEXTINPUT: \"TEXT_INPUT\",\n    TEXT_INPUT: \"TEXT_INPUT\",\n\n    IMAGECHOICE: \"IMAGE_CHOICE\",\n    IMAGE_CHOICE: \"IMAGE_CHOICE\",\n\n    READINGCOMPREHENSION: \"READING_COMPREHENSION\",\n    READING_COMPREHENSION: \"READING_COMPREHENSION\",\n\n    SLIDERSCALE: \"SLIDER_SCALE\",\n    SLIDER_SCALE: \"SLIDER_SCALE\",\n\n    TENFACTS: \"TEN_FACTS\",\n    TEN_FACTS: \"TEN_FACTS\",\n\n    SEQUENCE: \"SEQUENCE\",\n    MATCHING: \"MATCHING\",\n    COMPARISON: \"COMPARISON\"\n  };\n\n  return aliases[raw] || raw;\n}\n\ndata.type = normalizeQuestionType(data.type || input.generationOptions?.type);\npayload.data.type = data.type;\n\nif (!allowedTypes.includes(data.type)) {\n  \n  return fail(\"Invalid question type.\");\n}\n\nif (!Array.isArray(data.topics) || data.topics.length === 0) {\n  return fail(\"data.topics must be a non-empty array.\");\n}\n\nif (!data.question && ![\"READING_COMPREHENSION\", \"SLIDER_SCALE\"].includes(data.type)) {\n  return fail(\"data.question is required for this question type.\");\n}\n\nif (data.provenance && typeof data.provenance !== \"object\") {\n  return fail(\"data.provenance must be an object.\");\n}\n\nif (data.provenance?.sourceIds && !Array.isArray(data.provenance.sourceIds)) {\n  return fail(\"data.provenance.sourceIds must be an array.\");\n}\n\nif (Array.isArray(data.correctAnswerIndices)) {\n  data.correctAnswerIndices = data.correctAnswerIndices.map(Number);\n}\n\nswitch (data.type) {\n  case \"SINGLE_CHOICE\":\n    if (!Array.isArray(data.answers) || data.answers.length !== 6) {\n      return fail(\"SINGLE_CHOICE must have exactly 6 answers.\");\n    }\n\n    if (!Array.isArray(data.correctAnswerIndices) || data.correctAnswerIndices.length !== 1) {\n      return fail(\"SINGLE_CHOICE must have exactly one correctAnswerIndices item.\");\n    }\n    break;\n\n  case \"MULTIPLE_CHOICE\":\n    if (!Array.isArray(data.answers) || data.answers.length !== 6) {\n      return fail(\"MULTIPLE_CHOICE must have exactly 6 answers.\");\n    }\n\n    if (!Array.isArray(data.correctAnswerIndices) || data.correctAnswerIndices.length < 2) {\n      return fail(\"MULTIPLE_CHOICE must have at least two correct indices.\");\n    }\n    break;\n\n  case \"TRUE_FALSE\":\n    if (typeof data.correctAnswer !== \"boolean\") {\n      return fail(\"TRUE_FALSE must have boolean correctAnswer.\");\n    }\n    break;\n\n  case \"SEQUENCE\":\n    if (!Array.isArray(data.answers) || data.answers.length < 4 || data.answers.length > 6) {\n      return fail(\"SEQUENCE must have 4 to 6 answers.\");\n    }\n\n    if (!Array.isArray(data.correctAnswerIndices) || data.correctAnswerIndices.length !== data.answers.length) {\n      return fail(\"SEQUENCE correctAnswerIndices must match answers length.\");\n    }\n    break;\n\n  case \"MATCHING\":\n    if (!Array.isArray(data.leftSide) || !Array.isArray(data.rightSide) || !Array.isArray(data.correctMatches)) {\n      return fail(\"MATCHING must have leftSide, rightSide and correctMatches.\");\n    }\n    break;\n\n  case \"COMPARISON\":\n    if (!Array.isArray(data.categories) || !Array.isArray(data.statements)) {\n      return fail(\"COMPARISON must have categories and statements.\");\n    }\n    break;\n\n  case \"TEXT_INPUT\":\n  case \"FILL_IN_THE_BLANK\":\n    if (!Array.isArray(data.correctAnswers) || data.correctAnswers.length === 0) {\n      return fail(`${data.type} must have correctAnswers.`);\n    }\n    break;\n\n  case \"IMAGE_CHOICE\":\n    if (!Array.isArray(data.answers) || !Array.isArray(data.correctAnswerIndices)) {\n      return fail(\"IMAGE_CHOICE must have answers and correctAnswerIndices.\");\n    }\n    break;\n\n  case \"READING_COMPREHENSION\":\n    if (!data.text1 || !data.text2 || !Array.isArray(data.questions)) {\n      return fail(\"READING_COMPREHENSION must have text1, text2 and questions.\");\n    }\n    break;\n\n  case \"SLIDER_SCALE\":\n    if (!data.text || !Array.isArray(data.sliders)) {\n      return fail(\"SLIDER_SCALE must have text and sliders.\");\n    }\n    break;\n\n  case \"TEN_FACTS\":\n    if (!Array.isArray(data.answers) || data.answers.length !== 6) {\n      return fail(\"TEN_FACTS must have exactly 6 answers.\");\n    }\n\n    if (!Array.isArray(data.correctAnswerIndices) || data.correctAnswerIndices.length !== 1) {\n      return fail(\"TEN_FACTS must have one correct index.\");\n    }\n\n    if (!Array.isArray(data.facts) || data.facts.length === 0) {\n      return fail(\"TEN_FACTS must have facts.\");\n    }\n    break;\n}\n\nconst numPart = String(num).padStart(2, \"0\");\nconst slug = slugify(rawSlug || data.question || data.type);\nconst questionId = `${data.lang}--${numPart}--${block}--${slug}--${randomId()}`;\nconst now = new Date().toISOString();\n\nconst documentData = {\n  ...data,\n  categoryId,\n  levelId,\n  questionId,\n  num,\n  block,\n  slug,\n  status: \"pending_review\",\n  source: \"telegram-n8n\",\n  createdAt: now,\n  updatedAt: now\n};\n\nconst generationOptions = input.generationOptions || {};\nfunction formatReason(value) {\n  return String(value || \"\")\n    .replace(/_/g, \" \")\n    .trim();\n}\n\nconst sourceQualityText = generationOptions.researchEnabled\n  ? [\n      `Source quality: ${generationOptions.sourceBriefQuality || \"unknown\"}`,\n      `Source confidence: ${generationOptions.sourceConfidence ?? \"unknown\"}`,\n      generationOptions.sourceSufficiency?.reason\n        ? `Source sufficiency: ${formatReason(generationOptions.sourceSufficiency.reason)}`\n        : null\n    ].filter(Boolean).join(\"\\n\")\n  : null;\n\nconst previewText = [\n  \"New question for moderation\",\n  \"\",\n  `Category: ${categoryId}`,\n  `Level: ${levelId}`,\n  `Block: ${block}`,\n  `Type: ${data.type}`,\n  `ID: ${questionId}`,\n  `Topics: ${data.topics.join(\", \")}`,\n  sourceQualityText,\n  \"\",\n  \"Question:\",\n  data.question || data.text || \"No short question text\",\n  \"\",\n  \"Answers:\",\n  formatAnswerPreview(data),\n  \"\",\n  data.explanation ? `Explanation:\\n${data.explanation}` : \"Explanation: missing\",\n  \"\",\n  data.provenance?.sourceIds?.length\n    ? `Sources:\\n${data.provenance.sourceIds.join(\"\\n\")}`\n    : null,\n  \"\",\n  \"Actions:\",\n  \"approve / reject / revise\"\n].filter(Boolean).join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      valid: true,\n      categoryId,\n      levelId,\n      questionId,\n      collectionPath: `${categoryId}/${levelId}/questions`,\n      levelDocumentPath: `${categoryId}/${levelId}`,\n      pendingCollectionPath: \"pendingQuestions\",\n      documentData,\n      previewText,\n      telegramChatId: input.message.chat.id,\n      telegramFromId: input.message.from.id,\n      originalTelegramMessageId: input.message.message_id,\n      generationOptions: input.generationOptions || null\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7952,128],"id":"1c4fdae3-398f-417b-a304-3b433c6bc6e4","name":"Parse Question JSON","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"notesInFlow":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6272312a-244e-444f-994f-76f69e696289","leftValue":"={{ $json.message?.text || \"\" }}","rightValue":"=/generate","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[560,656],"id":"6ae49a93-b21c-416a-80d0-aa29187cde42","name":"IF Generate Command"},{"parameters":{"jsCode":"const text = String($json.message?.text || \"\").trim();\n\nfunction getParam(name, defaultValue = \"\") {\n  const quoted = text.match(new RegExp(`${name}=\"([^\"]+)\"`, \"i\"));\n  if (quoted) return quoted[1].trim();\n\n  const simple = text.match(new RegExp(`${name}=([^\\\\s]+)`, \"i\"));\n  if (simple) return simple[1].trim();\n\n  return defaultValue;\n}\n\nconst mode = text.startsWith(\"/generate_quiz\")\n  ? \"quiz\"\n  : text.startsWith(\"/generate_question\")\n    ? \"question\"\n    : \"unknown\";\n\nif (mode === \"unknown\") {\n  return [\n    {\n      json: {\n        ok: false,\n        error: \"Unknown command. Use /generate_question or /generate_quiz.\",\n        telegramChatId: $json.message.chat.id\n      }\n    }\n  ];\n}\n\nconst topic = getParam(\"topic\", \"\");\nconst categoryId = getParam(\"categoryId\", \"erudite\");\nconst levelId = getParam(\"levelId\", \"1\");\nconst block = getParam(\"block\", \"A\").toUpperCase();\nconst type = getParam(\"type\", \"SINGLE_CHOICE\").toUpperCase();\n\nlet requestedCount = Number(getParam(\"count\", mode === \"quiz\" ? \"5\" : \"1\"));\n\nif (!Number.isFinite(requestedCount) || requestedCount < 1) {\n  requestedCount = mode === \"quiz\" ? 5 : 1;\n}\n\nconst maxQuizCount = 10;\n\nlet count = requestedCount;\n\nif (mode === \"question\") {\n  count = 1;\n}\n\nif (mode === \"quiz\" && count > maxQuizCount) {\n  count = maxQuizCount;\n}\n\nconst saveToDb = /(?:^|\\s)db=on(?:\\s|$)/i.test(text);\nconst sendDocument = !/(?:^|\\s)doc=off(?:\\s|$)/i.test(text);\n\nconst format = getParam(\"format\", \"markdown\").toLowerCase();\n\nconst reviewEnabled = [\"on\", \"true\", \"1\", \"yes\"].includes(\n  String(getParam(\"review\", \"off\")).toLowerCase()\n);\n\nconst autoReview = ![\"off\", \"false\", \"0\", \"no\"].includes(\n  String(getParam(\"autoReview\", \"on\")).toLowerCase()\n);\n\nconst reviewReason = null;\n\nconst researchEnabled = [\"on\", \"true\", \"1\", \"yes\"].includes(\n  String(getParam(\"research\", \"off\")).toLowerCase()\n);\n\nconst deepResearch = [\"on\", \"true\", \"1\", \"yes\"].includes(\n  String(getParam(\"deep\", \"off\")).toLowerCase()\n);\n\nlet sourceLimit = Number(getParam(\"sources\", \"3\"));\n\nif (!Number.isFinite(sourceLimit) || sourceLimit < 1) {\n  sourceLimit = 3;\n}\n\nsourceLimit = Math.min(sourceLimit, 5);\n\nconst researchProvider = getParam(\"provider\", \"openalex\").toLowerCase();\n\nif (!topic) {\n  return [\n    {\n      json: {\n        ok: false,\n        error: \"Missing topic. Example: /generate_question topic=\\\"Kyivska Rus\\\" db=off doc=on\",\n        telegramChatId: $json.message.chat.id\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      ok: true,\n      mode,\n      topic,\n      categoryId,\n      levelId,\n      block,\n      type,\n      count,\n      requestedCount,\n      maxQuizCount,\n      countWasLimited: mode === \"quiz\" && requestedCount > maxQuizCount,\n      saveToDb,\n      sendDocument,\n      format,\n      researchEnabled,\n      reviewEnabled,\n      autoReview,\n      reviewReason,\n      deepResearch,\n      sourceLimit,\n      researchProvider,\n      originalCommand: text,\n      telegramChatId: $json.message.chat.id,\n      telegramFromId: $json.message.from.id,\n      originalTelegramMessageId: $json.message.message_id\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,720],"id":"ded3b88a-d537-43ac-9d81-8f8f97d1f0a7","name":"Parse Generate Options"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/responses","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-4.1-mini"},{"name":"input","value":"={{ $json.openAiGenerateBody.input }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[5936,720],"id":"4ba89faf-3ef6-4b8a-8cbf-3b6d7214e719","name":"OpenAI Generate via Prompt","credentials":{"openAiApi":{"id":"gAmwH7x8JpBuSJrV","name":"OpenAI account"}}},{"parameters":{"jsCode":"const input = $input.first().json;\n\nconst aiText =\n  input.output_text ||\n  input.output?.[0]?.content?.[0]?.text ||\n  input.output?.[0]?.content?.find?.(c => c.type === \"output_text\")?.text ||\n  input.text ||\n  \"\";\n\nif (!aiText) {\n  return [\n    {\n      json: {\n        message: { text: \"\" },\n        aiError: \"OpenAI returned no text in a known response field.\",\n        raw: input\n      }\n    }\n  ];\n}\n\nconst cleaned = String(aiText)\n  .trim()\n  .replace(/^```json\\s*/i, \"\")\n  .replace(/^```\\s*/i, \"\")\n  .replace(/```$/i, \"\")\n  .trim();\n\nconst parseOptions = $(\"Parse Generate Options\").item.json;\n\nlet sourceContext = {};\n\ntry {\n  if ($(\"Decide Source Sufficiency\").isExecuted) {\n    sourceContext = $(\"Decide Source Sufficiency\").item.json;\n  } else if ($(\"Build Source Brief\").isExecuted) {\n    sourceContext = $(\"Build Source Brief\").item.json;\n  }\n} catch (error) {\n  sourceContext = {};\n}\n\nreturn [\n  {\n    json: {\n      message: {\n        text: cleaned,\n        chat: {\n          id: parseOptions.telegramChatId\n        },\n        from: {\n          id: parseOptions.telegramFromId\n        },\n        message_id: parseOptions.originalTelegramMessageId\n      },\n      generationOptions: {\n        saveToDb: parseOptions.saveToDb,\n        sendDocument: parseOptions.sendDocument,\n        format: parseOptions.format,\n        mode: parseOptions.mode,\n        topic: parseOptions.topic,\n        categoryId: parseOptions.categoryId,\n        levelId: parseOptions.levelId,\n        block: parseOptions.block,\n        type: parseOptions.type,\n        researchEnabled: parseOptions.researchEnabled,\n        reviewEnabled: parseOptions.reviewEnabled,\n        autoReview: parseOptions.autoReview,\n\n        sourceBriefQuality: sourceContext.sourceBriefQuality || null,\n        sourceBriefStatus: sourceContext.sourceBriefStatus || null,\n        sourceConfidence: sourceContext.sourceConfidence ?? null,\n        sourceBrief: sourceContext.sourceBrief || null,\n        sourceBriefCacheHit: sourceContext.sourceBriefCacheHit || false,\n        sourceAuthoritySummary: sourceContext.sourceAuthoritySummary || null,\n        sourcePolicy: sourceContext.sourcePolicy || null,\n        sourceSufficiency: sourceContext.sourceSufficiency || null,\n        researchProvider: sourceContext.researchProvider || parseOptions.researchProvider || null,\n        sourceCount: Array.isArray(sourceContext.retrievedSources)\n          ? sourceContext.retrievedSources.length\n          : 0\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6160,720],"id":"da38e881-7686-4c3f-81a5-2843bd7d0a53","name":"Prepare AI JSON"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f40194d7-f27a-4791-9bc1-0767023eeecf","leftValue":"={{ !$json.generationOptions || $json.generationOptions.saveToDb === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[8624,192],"id":"c74ef04c-41bf-490a-b2ce-af8cf26d447c","name":"IF Save To DB"},{"parameters":{"jsCode":"function safeFileName(value) {\n  return String(value || \"noesis_question\")\n    .toLowerCase()\n    .normalize(\"NFKD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^a-z0-9\\p{L}\\p{N}]+/gu, \"_\")\n    .replace(/^_+|_+$/g, \"\")\n    .slice(0, 80);\n}\n\nconst input = $input.first().json;\nconst data = input.documentData;\n\nif (!data) {\n  return [\n    {\n      json: {\n        ok: false,\n        error: \"Missing documentData for document generation.\"\n      }\n    }\n  ];\n}\n\nlet markdown = \"\";\n\nmarkdown += `# NoesisQuiz Question\\n\\n`;\nmarkdown += `**Generation topic:** ${input.generationOptions?.topic || \"not specified\"}\\n\\n`;\nmarkdown += `**Category:** ${input.categoryId}\\n\\n`;\nmarkdown += `**Level:** ${input.levelId}\\n\\n`;\nmarkdown += `**Block:** ${data.block || input.block || \"A\"}\\n\\n`;\nmarkdown += `**Type:** ${data.type}\\n\\n`;\nmarkdown += `**ID:** ${input.questionId}\\n\\n`;\n\nif (input.generationOptions?.sourceBriefQuality || input.generationOptions?.sourceConfidence !== undefined) {\n  markdown += `**Source quality:** ${input.generationOptions?.sourceBriefQuality || \"unknown\"}\\n\\n`;\n  markdown += `**Source confidence:** ${input.generationOptions?.sourceConfidence ?? \"unknown\"}\\n\\n`;\n}\n\nmarkdown += `## Question\\n\\n`;\nmarkdown += `${data.question || data.text || \"No question text\"}\\n\\n`;\n\nif (Array.isArray(data.answers)) {\n  markdown += `## Answers\\n\\n`;\n\n  data.answers.forEach((answer, index) => {\n    const isCorrect =\n      Array.isArray(data.correctAnswerIndices) &&\n      data.correctAnswerIndices.includes(index);\n\n    markdown += `${index + 1}. ${answer}${isCorrect ? \" [correct]\" : \"\"}\\n`;\n  });\n\n  markdown += `\\n`;\n}\n\nif (typeof data.correctAnswer === \"boolean\") {\n  markdown += `## Correct Answer\\n\\n`;\n  markdown += `${data.correctAnswer ? \"true\" : \"false\"}\\n\\n`;\n}\n\nif (Array.isArray(data.correctAnswers)) {\n  markdown += `## Correct Answers\\n\\n`;\n  markdown += `${data.correctAnswers.join(\", \")}\\n\\n`;\n}\n\nif (data.explanation) {\n  markdown += `## Explanation\\n\\n`;\n  markdown += `${data.explanation}\\n\\n`;\n}\n\nif (Array.isArray(data.topics)) {\n  markdown += `## Topics\\n\\n`;\n  markdown += `${data.topics.join(\", \")}\\n\\n`;\n}\n\nif (Array.isArray(data.scientificDisciplines)) {\n  markdown += `## Scientific Disciplines\\n\\n`;\n  markdown += `${data.scientificDisciplines.join(\", \")}\\n\\n`;\n}\n\nif (Array.isArray(data.recommendedLiterature) && data.recommendedLiterature.length > 0) {\n  markdown += `## Recommended Literature\\n\\n`;\n\n  data.recommendedLiterature.forEach((item) => {\n    markdown += `- ${item.name || \"Source\"}${item.link ? ` - ${item.link}` : \"\"}\\n`;\n  });\n\n  markdown += `\\n`;\n}\n\nif (data.provenance?.sourceIds?.length) {\n  markdown += `## Source IDs\\n\\n`;\n\n  data.provenance.sourceIds.forEach((sourceId) => {\n    markdown += `- ${sourceId}\\n`;\n  });\n\n  markdown += `\\n`;\n}\n\nmarkdown += `---\\n\\n`;\nmarkdown += `JSON ID: \\`${input.questionId}\\`\\n`;\nmarkdown += `Created: ${new Date().toISOString()}\\n`;\n\nconst fileName = `${safeFileName(input.generationOptions?.topic || data.slug || input.questionId)}.md`;\n\nreturn [\n  {\n    json: {\n      ...input,\n      ok: true,\n      fileName,\n      documentText: markdown\n    },\n    binary: {\n      data: {\n        data: Buffer.from(markdown, \"utf8\").toString(\"base64\"),\n        mimeType: \"text/markdown\",\n        fileName\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8848,288],"id":"14b63abb-275c-40d1-ae76-3da8d746e89a","name":"Build Question Document"},{"parameters":{"operation":"sendDocument","chatId":"={{ $json.telegramChatId }}","binaryData":true,"additionalFields":{"caption":"={{ \"Question document generated.\\nDatabase write: disabled.\\nID: \" + $json.questionId }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[9072,288],"id":"ae3fed7c-8f54-4de0-9009-135a8cbfd301","name":"Send Question Document","webhookId":"121c9079-b69f-4050-b0d0-16ba96d9a06c","credentials":{"telegramApi":{"id":"WLaUgunVuF7TVeQx","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"d252020a-77bd-4a93-bbb8-167b23fd2b00","leftValue":"={{ $json.generationOptions?.mode === \"quiz\" }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[6384,720],"id":"5e11a2b4-4caf-41da-8d7d-1eb8e0b46f36","name":"IF Generated Quiz"},{"parameters":{"jsCode":"function safeFileName(value) {\n  return String(value || \"noesis_quiz\")\n    .toLowerCase()\n    .normalize(\"NFKD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^a-z0-9\\p{L}\\p{N}]+/gu, \"_\")\n    .replace(/^_+|_+$/g, \"\")\n    .slice(0, 80);\n}\n\nconst input = $input.first().json;\nconst raw = input.message?.text || \"\";\n\nlet quiz;\n\ntry {\n  quiz = JSON.parse(raw);\n} catch (error) {\n  return [\n    {\n      json: {\n        ok: false,\n        error: \"AI returned invalid JSON for quiz document.\",\n        raw\n      }\n    }\n  ];\n}\n\nconst questions = Array.isArray(quiz.questions) ? quiz.questions : [];\nconst options = $(\"Parse Generate Options\").item.json;\n\nlet markdown = `# ${quiz.quizTitle || \"NoesisQuiz Mini Quiz\"}\\n\\n`;\nmarkdown += `**Topic:** ${quiz.topic || options.topic}\\n\\n`;\nmarkdown += `**Category:** ${quiz.categoryId || options.categoryId}\\n\\n`;\nmarkdown += `**Level:** ${quiz.levelId || options.levelId}\\n\\n`;\nmarkdown += `**Block:** ${quiz.block || options.block}\\n\\n`;\nmarkdown += `**Question count:** ${questions.length}\\n\\n`;\nmarkdown += `---\\n\\n`;\n\nif (options.countWasLimited) {\n  markdown += `> Requested count was reduced from ${options.requestedCount} to ${options.maxQuizCount}.\\n\\n`;\n}\n\nquestions.forEach((q, index) => {\n  const data = q.data || q;\n\n  markdown += `## ${index + 1}. ${data.question || \"Question without text\"}\\n\\n`;\n  markdown += `**Type:** ${data.type || \"UNKNOWN\"}\\n\\n`;\n\n  if (Array.isArray(data.answers)) {\n    markdown += `**Answers:**\\n\\n`;\n\n    data.answers.forEach((answer, i) => {\n      const isCorrect =\n        Array.isArray(data.correctAnswerIndices) &&\n        data.correctAnswerIndices.includes(i);\n\n      markdown += `${i + 1}. ${answer}${isCorrect ? \" [correct]\" : \"\"}\\n`;\n    });\n\n    markdown += `\\n`;\n  }\n\n  if (data.explanation) {\n    markdown += `**Explanation:** ${data.explanation}\\n\\n`;\n  }\n\n  if (Array.isArray(data.topics)) {\n    markdown += `**Topics:** ${data.topics.join(\", \")}\\n\\n`;\n  }\n\n  if (Array.isArray(data.scientificDisciplines)) {\n    markdown += `**Scientific disciplines:** ${data.scientificDisciplines.join(\", \")}\\n\\n`;\n  }\n\n  markdown += `---\\n\\n`;\n});\n\nconst title = quiz.quizTitle || options.topic || \"noesis_quiz\";\nconst fileName = `${safeFileName(title)}.md`;\n\nreturn [\n  {\n    json: {\n      ok: true,\n      mode: \"quiz\",\n      quizTitle: quiz.quizTitle || title,\n      fileName,\n      documentText: markdown,\n      telegramChatId: options.telegramChatId,\n      quiz\n    },\n    binary: {\n      data: {\n        data: Buffer.from(markdown, \"utf8\").toString(\"base64\"),\n        mimeType: \"text/markdown\",\n        fileName\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7504,464],"id":"a98cbb97-fd2e-4536-9e4f-d19a18391785","name":"Build Quiz Document"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"45575f5e-75b9-45cb-bd3e-d016a05500d3","leftValue":"={{ $(\"Parse Generate Options\").item.json.saveToDb === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[7728,560],"id":"64889cf6-8c54-4c48-ab58-d3bd7feaaf2d","name":"IF Save Quiz To DB"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst quiz = input.quiz;\n\nif (!quiz || !Array.isArray(quiz.questions)) {\n  return [\n    {\n      json: {\n        valid: false,\n        error: \"Missing quiz.questions for database write.\"\n      }\n    }\n  ];\n}\n\nconst options = $(\"Parse Generate Options\").item.json;\n\nreturn quiz.questions.map((question, index) => {\n  const normalized = {\n    categoryId: question.categoryId || quiz.categoryId || options.categoryId,\n    levelId: String(question.levelId || quiz.levelId || options.levelId),\n    num: question.num || index + 1,\n    block: question.block || quiz.block || options.block,\n    slug: question.slug || `quiz-question-${index + 1}`,\n    data: question.data || question\n  };\n\n  return {\n    json: {\n      message: {\n        text: JSON.stringify(normalized),\n        chat: {\n          id: options.telegramChatId\n        },\n        from: {\n          id: options.telegramFromId\n        },\n        message_id: options.originalTelegramMessageId\n      },\n      generationOptions: {\n        saveToDb: true,\n        sendDocument: options.sendDocument,\n        format: options.format,\n        mode: \"quiz\",\n        topic: options.topic,\n        quizTitle: quiz.quizTitle || options.topic\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7952,720],"id":"184ce4fa-d74f-45c9-9d40-225d0cd84b69","name":"Split Quiz Questions"},{"parameters":{"chatId":"={{ $('Prepare Pending Document').item.json.telegramChatId }}","text":"={{ $('Prepare Pending Document').item.json.previewText }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Approve","additionalFields":{"callback_data":"={{ \"approve|\" + $('Prepare Pending Document').item.json.questionId }}"}},{"text":"Revise","additionalFields":{"callback_data":"={{ \"revise|\" + $('Prepare Pending Document').item.json.questionId }}"}},{"text":"Reject","additionalFields":{"callback_data":"={{ \"reject|\" + $('Prepare Pending Document').item.json.questionId }}"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[9296,0],"id":"20bf35d1-7b57-4417-8413-e335b3dc2894","name":"True IF Valid Question","webhookId":"0df5ebb3-89e3-4f4e-b534-f68ca917ae05","credentials":{"telegramApi":{"id":"WLaUgunVuF7TVeQx","name":"Telegram account"}}},{"parameters":{"jsCode":"function translitUk(value) {\n  return String(value || \"\")\n    .toLowerCase()\n    .trim()\n    .normalize(\"NFKD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/\\u0449/g, \"shch\")\n    .replace(/\\u0448/g, \"sh\")\n    .replace(/\\u0447/g, \"ch\")\n    .replace(/\\u0436/g, \"zh\")\n    .replace(/\\u0445/g, \"kh\")\n    .replace(/\\u0446/g, \"ts\")\n    .replace(/\\u044e/g, \"iu\")\n    .replace(/\\u044f/g, \"ia\")\n    .replace(/\\u0454/g, \"ie\")\n    .replace(/\\u0457/g, \"i\")\n    .replace(/\\u0456/g, \"i\")\n    .replace(/\\u0491/g, \"g\")\n    .replace(/\\u0439/g, \"i\")\n    .replace(/\\u0430/g, \"a\")\n    .replace(/\\u0431/g, \"b\")\n    .replace(/\\u0432/g, \"v\")\n    .replace(/\\u0433/g, \"h\")\n    .replace(/\\u0434/g, \"d\")\n    .replace(/\\u0435/g, \"e\")\n    .replace(/\\u0437/g, \"z\")\n    .replace(/\\u0438/g, \"y\")\n    .replace(/\\u043a/g, \"k\")\n    .replace(/\\u043b/g, \"l\")\n    .replace(/\\u043c/g, \"m\")\n    .replace(/\\u043d/g, \"n\")\n    .replace(/\\u043e/g, \"o\")\n    .replace(/\\u043f/g, \"p\")\n    .replace(/\\u0440/g, \"r\")\n    .replace(/\\u0441/g, \"s\")\n    .replace(/\\u0442/g, \"t\")\n    .replace(/\\u0443/g, \"u\")\n    .replace(/\\u0444/g, \"f\")\n    .replace(/\\u044c/g, \"\");\n}\n\nfunction slugify(value) {\n  return translitUk(value)\n    .replace(/[^a-z0-9]+/g, \"-\")\n    .replace(/^-+|-+$/g, \"\")\n    .slice(0, 60);\n}\n\nfunction randomId(length = 4) {\n  const chars = \"abcdefghijklmnopqrstuvwxyz0123456789\";\n  let result = \"\";\n\n  for (let i = 0; i < length; i++) {\n    result += chars[Math.floor(Math.random() * chars.length)];\n  }\n\n  return result;\n}\n\nfunction formatAnswerPreview(data) {\n  if (Array.isArray(data.answers)) {\n    return data.answers\n      .map((answer, index) => {\n        const isCorrect =\n          Array.isArray(data.correctAnswerIndices) &&\n          data.correctAnswerIndices.includes(index);\n\n        return `${index + 1}. ${answer}${isCorrect ? \" [correct]\" : \"\"}`;\n      })\n      .join(\"\\n\");\n  }\n\n  if (data.type === \"TRUE_FALSE\") {\n    return `Correct answer: ${data.correctAnswer ? \"true\" : \"false\"}`;\n  }\n\n  if (Array.isArray(data.correctAnswers)) {\n    return `Correct answers: ${data.correctAnswers.join(\", \")}`;\n  }\n\n  return \"Preview is not configured for this question type.\";\n}\n\nfunction fail(input, message) {\n  return {\n    json: {\n      valid: false,\n      error: message,\n      generationOptions: input.generationOptions || null,\n      telegramChatId: input.message?.chat?.id,\n      originalInput: input\n    }\n  };\n}\n\nfunction parseOne(input) {\n  const messageText = input.message?.text;\n\n  if (!messageText) {\n    return fail(input, \"Missing message.text with question JSON.\");\n  }\n\n  let payload;\n\n  try {\n    payload = JSON.parse(messageText);\n  } catch (error) {\n    return fail(input, \"message.text is not valid JSON.\");\n  }\n\n  const allowedCategories = [\n    \"erudite\",\n    \"science\",\n    \"philosophy\",\n    \"culture\",\n    \"noesis\",\n    \"agora\"\n  ];\n\n  const allowedTypes = [\n    \"SINGLE_CHOICE\",\n    \"MULTIPLE_CHOICE\",\n    \"TRUE_FALSE\",\n    \"SEQUENCE\",\n    \"MATCHING\",\n    \"COMPARISON\",\n    \"TEXT_INPUT\",\n    \"FILL_IN_THE_BLANK\",\n    \"IMAGE_CHOICE\",\n    \"READING_COMPREHENSION\",\n    \"SLIDER_SCALE\",\n    \"TEN_FACTS\"\n  ];\n\n  const categoryId = payload.categoryId || input.generationOptions?.categoryId;\n  const levelId = String(payload.levelId || input.generationOptions?.levelId || \"\");\n  const rawNum = payload.num ?? input.generationOptions?.num ?? 1;\n  const num = Number(rawNum);\n  const block = String(payload.block || input.generationOptions?.block || \"\").toUpperCase();\n  const rawSlug = payload.slug;\n  const data = payload.data;\n\n  if (!allowedCategories.includes(categoryId)) {\n    return fail(input, \"Invalid categoryId.\");\n  }\n\n  if (!levelId) {\n    return fail(input, \"Missing levelId.\");\n  }\n\n  if (!Number.isInteger(num) || num < 1 || num > 999) {\n    return fail(input, \"num must be an integer from 1 to 999.\");\n  }\n\n  if (!/^[A-Z]$/.test(block)) {\n    return fail(input, \"block must be one uppercase letter.\");\n  }\n\n  if (!data || typeof data !== \"object\") {\n    return fail(input, \"Missing data object.\");\n  }\n\n  if (data.lang !== \"ua\") {\n    return fail(input, \"data.lang must be ua.\");\n  }\n\n  if (!allowedTypes.includes(data.type)) {\n    return fail(input, \"Invalid question type.\");\n  }\n\n  if (!Array.isArray(data.topics) || data.topics.length === 0) {\n    return fail(input, \"data.topics must be a non-empty array.\");\n  }\n\n  if (!data.question && ![\"READING_COMPREHENSION\", \"SLIDER_SCALE\"].includes(data.type)) {\n    return fail(input, \"data.question is required for this question type.\");\n  }\n\n  if (Array.isArray(data.correctAnswerIndices)) {\n    data.correctAnswerIndices = data.correctAnswerIndices.map(Number);\n  }\n\n  if (data.type === \"SINGLE_CHOICE\") {\n    if (!Array.isArray(data.answers) || data.answers.length !== 6) {\n      return fail(input, \"SINGLE_CHOICE must have exactly 6 answers.\");\n    }\n\n    if (!Array.isArray(data.correctAnswerIndices) || data.correctAnswerIndices.length !== 1) {\n      return fail(input, \"SINGLE_CHOICE must have exactly one correctAnswerIndices item.\");\n    }\n  }\n\n  if (data.type === \"MULTIPLE_CHOICE\") {\n    if (!Array.isArray(data.answers) || data.answers.length !== 6) {\n      return fail(input, \"MULTIPLE_CHOICE must have exactly 6 answers.\");\n    }\n\n    if (!Array.isArray(data.correctAnswerIndices) || data.correctAnswerIndices.length < 2) {\n      return fail(input, \"MULTIPLE_CHOICE must have at least two correct indices.\");\n    }\n  }\n\n  if (data.type === \"TRUE_FALSE\" && typeof data.correctAnswer !== \"boolean\") {\n    return fail(input, \"TRUE_FALSE must have boolean correctAnswer.\");\n  }\n\n  const numPart = String(num).padStart(2, \"0\");\n  const slug = slugify(rawSlug || data.question || data.type);\n  const questionId = `${data.lang}--${numPart}--${block}--${slug}--${randomId()}`;\n  const now = new Date().toISOString();\n\n  const documentData = {\n    ...data,\n    categoryId,\n    levelId,\n    questionId,\n    num,\n    block,\n    slug,\n    status: \"pending_review\",\n    source: \"telegram-n8n-ai-quiz\",\n    createdAt: now,\n    updatedAt: now\n  };\n\n  const previewText = [\n    \"New question for moderation\",\n    \"\",\n    `Category: ${categoryId}`,\n    `Level: ${levelId}`,\n    `Block: ${block}`,\n    `Type: ${data.type}`,\n    `ID: ${questionId}`,\n    `Topics: ${data.topics.join(\", \")}`,\n    \"\",\n    \"Question:\",\n    data.question || data.text || \"No short question text\",\n    \"\",\n    \"Answers:\",\n    formatAnswerPreview(data),\n    \"\",\n    data.explanation ? `Explanation:\\n${data.explanation}` : \"Explanation: missing\",\n    \"\",\n    \"Actions:\",\n    \"approve / reject / revise\"\n  ].join(\"\\n\");\n\n  return {\n    json: {\n      valid: true,\n      categoryId,\n      levelId,\n      questionId,\n      collectionPath: `${categoryId}/${levelId}/questions`,\n      levelDocumentPath: `${categoryId}/${levelId}`,\n      pendingCollectionPath: \"pendingQuestions\",\n      documentData,\n      previewText,\n      telegramChatId: input.message.chat.id,\n      telegramFromId: input.message.from.id,\n      originalTelegramMessageId: input.message.message_id,\n      generationOptions: input.generationOptions || null\n    }\n  };\n}\n\nreturn $input.all().map(item => parseOne(item.json));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8176,720],"id":"53a92f27-b1ee-43b9-9145-bc2421751ff1","name":"Parse Quiz Questions Batch","executeOnce":false},{"parameters":{"authentication":"serviceAccount","projectId":"studio-2985968119-3ca85","collection":"pendingQuestions","documentId":"={{ $json.questionId }}"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[784,-272],"id":"d9c3cef5-7d7e-4b29-8391-ab126e4b9acc","name":"Get Pending Question for Reject","credentials":{"googleApi":{"id":"i4yPKjshhrkRZM1L","name":"Google Firebase Cloud Firestore account"}}},{"parameters":{"authentication":"serviceAccount","operation":"upsert","projectId":"studio-2985968119-3ca85","collection":"pendingQuestions","updateKey":"questionId","columns":"questionId, status, rejectedAt, updatedAt"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[1904,-320],"id":"502ce7d0-973c-4602-b378-f2e08d6fb879","name":"Update Pending as Rejected","credentials":{"googleApi":{"id":"i4yPKjshhrkRZM1L","name":"Google Firebase Cloud Firestore account"}}},{"parameters":{"jsCode":"const pending = $input.item.json;\nconst now = new Date().toISOString();\n\nreturn [\n  {\n    json: {\n      ...pending,\n      status: \"needs_revision\",\n      revisionRequestedAt: now,\n      updatedAt: now,\n      revisionInstructionMessage: [\n        \"Question marked as needing revision.\",\n        \"\",\n        `ID: ${pending.questionId}`,\n        \"\",\n        \"Reply to this bot message with the requested change.\",\n        \"\",\n        \"Examples:\",\n        \"- make distractors less obvious\",\n        \"- improve the explanation\",\n        \"- make the question harder\",\n        \"- change the wording or topic focus\"\n      ].join(\"\\n\")\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,-608],"id":"b9f72f2c-797f-4815-9792-c12f79763ace","name":"Prepare Revision Request"},{"parameters":{"authentication":"serviceAccount","projectId":"studio-2985968119-3ca85","collection":"pendingQuestions","documentId":"={{ $json.questionId }}"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[784,-560],"id":"6c6c342d-f567-4919-a3e3-e541401dc27d","name":"Get Pending Question for Revise","credentials":{"googleApi":{"id":"i4yPKjshhrkRZM1L","name":"Google Firebase Cloud Firestore account"}}},{"parameters":{"authentication":"serviceAccount","operation":"upsert","projectId":"studio-2985968119-3ca85","collection":"pendingQuestions","updateKey":"questionId","columns":"questionId, status, targetCollectionPath, targetLevelDocumentPath, documentData, previewText, telegramChatId, originalTelegramMessageId, generationOptions, createdAt, updatedAt, revisionRequestedAt, revisionInstructionMessage"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[1904,-608],"id":"df1cac02-a48d-48e2-95ac-5418dc0951f8","name":"Update Pending as Needs Revision","credentials":{"googleApi":{"id":"i4yPKjshhrkRZM1L","name":"Google Firebase Cloud Firestore account"}}},{"parameters":{"chatId":"={{ $json.telegramChatId }}","text":"={{ $json.revisionInstructionMessage }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2128,-608],"id":"a3c40378-e3af-4692-a0e0-58106275fb9f","name":"Send Revision Request","webhookId":"7cd39f60-7e8c-46b1-ae1c-d2b64dff016c","credentials":{"telegramApi":{"id":"WLaUgunVuF7TVeQx","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"13a565b9-c98c-4e39-bf2e-962ba252af2c","leftValue":"={{ !!$json.message?.reply_to_message && String($json.message.reply_to_message.text || $json.message.reply_to_message.caption || \"\").includes(\"ID:\") && /ua--/.test(String($json.message.reply_to_message.text || $json.message.reply_to_message.caption || \"\")) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[336,480],"id":"13385f2e-58cd-4e67-b38e-9caf83be94ee","name":"IF Revision Reply"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst message = input.message || {};\n\nconst revisionComment = String(message.text || \"\").trim();\n\nconst replyText = String(\n  message.reply_to_message?.text ||\n  message.reply_to_message?.caption ||\n  \"\"\n).trim();\n\nconst telegramChatId = message.chat?.id;\nconst telegramFromId = message.from?.id;\nconst replyMessageId = message.message_id;\nconst repliedToMessageId = message.reply_to_message?.message_id;\n\nfunction extractQuestionId(text) {\n  const source = String(text || \"\")\n    .replace(/\\u2013/g, \"-\")\n    .replace(/\\u2014/g, \"-\")\n    .replace(/\\u00A0/g, \" \");\n\n  const lines = source.split(/\\r?\\n/).map((line) => line.trim());\n\n  for (const line of lines) {\n    const match = line.match(/^ID:\\s*(.+)$/i);\n    if (match && match[1]) {\n      return match[1].trim().split(/\\s+/)[0];\n    }\n  }\n\n  const fallback = source.match(/ua--[A-Za-z0-9_-]+/);\n  if (fallback) {\n    return fallback[0].trim();\n  }\n\n  return \"\";\n}\n\nif (!message.reply_to_message) {\n  return [\n    {\n      json: {\n        ok: false,\n        error: \"Message is not a reply to a revision request. Use Reply on the bot message that contains the question ID.\",\n        telegramChatId,\n        debugReplyText: replyText,\n        debugInput: input\n      }\n    }\n  ];\n}\n\nconst questionId = extractQuestionId(replyText);\n\nif (!questionId) {\n  return [\n    {\n      json: {\n        ok: false,\n        error: \"Could not find question ID in the replied message.\",\n        telegramChatId,\n        debugReplyText: replyText,\n        debugInput: input\n      }\n    }\n  ];\n}\n\nif (!revisionComment) {\n  return [\n    {\n      json: {\n        ok: false,\n        error: \"Revision comment is empty.\",\n        telegramChatId,\n        questionId,\n        debugReplyText: replyText\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      ok: true,\n      questionId,\n      revisionComment,\n      telegramChatId,\n      telegramFromId,\n      revisionReplyMessageId: replyMessageId,\n      repliedToMessageId,\n      receivedAt: new Date().toISOString(),\n      debugReplyText: replyText\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6160,-128],"id":"fb75005e-a566-47b1-bbba-344d2ce98a70","name":"Parse Revision Reply"},{"parameters":{"authentication":"serviceAccount","projectId":"studio-2985968119-3ca85","collection":"pendingQuestions","documentId":"={{ $json.questionId }}"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[6608,-224],"id":"2c4f9170-953a-4613-8cc3-e05761372a8d","name":"Get Pending Question for Revision Comment","credentials":{"googleApi":{"id":"i4yPKjshhrkRZM1L","name":"Google Firebase Cloud Firestore account"}}},{"parameters":{"jsCode":"const pending = $input.item.json;\n\nconst revision = $(\"Parse Revision Reply\").item.json;\n\nconst now = new Date().toISOString();\n\nconst revisionHistory = Array.isArray(pending.revisionHistory)\n  ? pending.revisionHistory\n  : [];\n\nrevisionHistory.push({\n  comment: revision.revisionComment,\n  receivedAt: revision.receivedAt,\n  replyMessageId: revision.revisionReplyMessageId\n});\n\nreturn [\n  {\n    json: {\n      ...pending,\n      status: \"revision_comment_received\",\n      revisionComment: revision.revisionComment,\n      revisionHistory,\n      updatedAt: now,\n      telegramChatId: revision.telegramChatId\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6832,-224],"id":"7b41c2a2-752b-4174-a953-52af6e4a0eb1","name":"Prepare Revision Comment"},{"parameters":{"authentication":"serviceAccount","operation":"upsert","projectId":"studio-2985968119-3ca85","collection":"pendingQuestions","updateKey":"questionId","columns":"questionId, status, targetCollectionPath, targetLevelDocumentPath, documentData, previewText, telegramChatId, originalTelegramMessageId, generationOptions, createdAt, updatedAt, revisionRequestedAt, revisionComment, revisionHistory, revisionInstructionMessage"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[7056,-224],"id":"5b95eee5-0847-4c97-89fa-f2da211062e5","name":"Update Pending with Revision Comment","credentials":{"googleApi":{"id":"i4yPKjshhrkRZM1L","name":"Google Firebase Cloud Firestore account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"1d7a657b-8390-4dfc-b92b-0ce92f0c7d2e","leftValue":"={{ $json.ok }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[6384,-128],"id":"1caffbfc-0cd0-4ef7-835f-c22476ad16b3","name":"IF Revision Reply Parsed"},{"parameters":{"chatId":"={{ $json.telegramChatId }}","text":"={{ \"Could not process revision comment.\\n\\nError: \" + ($json.error || \"unknown error\") + \"\\n\\nReply text:\\n\" + ($json.debugReplyText || \"none\") }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[6608,-32],"id":"c06e5fd1-5aa1-4a69-869d-526de693072a","name":"Send Revision Parse Error","webhookId":"18c755f8-bc7c-4f7e-a867-cdb073d1a79e","credentials":{"telegramApi":{"id":"WLaUgunVuF7TVeQx","name":"Telegram account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/responses","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-4.1-mini"},{"name":"input","value":"={{ $json.openAiRevisionBody.input }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[7504,-224],"id":"f09aed24-944b-4c8b-bbe4-a2ab85ab2537","name":"OpenAI Revise Question","credentials":{"openAiApi":{"id":"gAmwH7x8JpBuSJrV","name":"OpenAI account"}}},{"parameters":{"jsCode":"const input = $input.first().json;\n\nconst aiText =\n  input.output_text ||\n  input.output?.[0]?.content?.[0]?.text ||\n  input.output?.[0]?.content?.find?.(c => c.type === \"output_text\")?.text ||\n  input.text ||\n  \"\";\n\nif (!aiText) {\n  return [\n    {\n      json: {\n        message: { text: \"\" },\n        aiError: \"OpenAI returned no text in a known response field.\",\n        raw: input\n      }\n    }\n  ];\n}\n\nconst cleaned = String(aiText)\n  .trim()\n  .replace(/^```json\\s*/i, \"\")\n  .replace(/^```\\s*/i, \"\")\n  .replace(/```$/i, \"\")\n  .trim();\n\nconst revision = $(\"Prepare Revision Comment\").item.json;\n\nreturn [\n  {\n    json: {\n      message: {\n        text: cleaned,\n        chat: {\n          id: revision.telegramChatId\n        },\n        from: {\n          id: revision.telegramFromId || 59229320\n        },\n        message_id: revision.revisionReplyMessageId || revision.originalTelegramMessageId\n      },\n      generationOptions: {\n        saveToDb: true,\n        sendDocument: false,\n        format: \"markdown\",\n        mode: \"revision\",\n        topic: revision.generationOptions?.topic || \"revision\",\n        revisedFrom: revision.questionId,\n        revisionComment: revision.revisionComment\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7728,-224],"id":"25ee2c81-7136-4056-a659-f66a550d1c6a","name":"Prepare Revised AI JSON"},{"parameters":{"jsCode":"const pending = $input.item.json;\n\nconst documentData = pending.documentData;\nconst revisionComment = pending.revisionComment;\n\nif (!documentData) {\n  return [\n    {\n      json: {\n        ok: false,\n        error: \"Missing documentData for question revision.\",\n        telegramChatId: pending.telegramChatId\n      }\n    }\n  ];\n}\n\nif (!revisionComment) {\n  return [\n    {\n      json: {\n        ok: false,\n        error: \"Missing revisionComment for question revision.\",\n        telegramChatId: pending.telegramChatId\n      }\n    }\n  ];\n}\n\nconst prompt = [\n  \"You are an editor of educational questions for NoesisQuiz.\",\n  \"\",\n  \"You receive an existing question JSON and a human revision comment.\",\n  \"\",\n  \"Your task: rewrite the question according to the human comment while preserving the NoesisQuiz JSON format.\",\n  \"\",\n  \"The revised question, answers, explanation, topics, and scientificDisciplines must be written in Ukrainian.\",\n  \"\",\n  \"Return only valid JSON. Do not use Markdown. Do not add explanations outside JSON.\",\n  \"\",\n  \"HUMAN REVISION COMMENT:\",\n  revisionComment,\n  \"\",\n  \"OLD QUESTION documentData:\",\n  JSON.stringify(documentData, null, 2),\n  \"\",\n  \"Return a top-level JSON object in this format:\",\n  JSON.stringify(\n    {\n      categoryId: documentData.categoryId,\n      levelId: String(documentData.levelId),\n      num: documentData.num,\n      block: documentData.block,\n      slug: `${documentData.slug || \"revised-question\"}-revised`,\n      data: {\n        lang: \"ua\",\n        type: documentData.type,\n        question: \"...\",\n        answers: [\"...\", \"...\", \"...\", \"...\", \"...\", \"...\"],\n        correctAnswerIndices: [0],\n        explanation: \"...\",\n        topics: documentData.topics || [],\n        scientificDisciplines: documentData.scientificDisciplines || [],\n        recommendedLiterature: [],\n        revisedFrom: pending.questionId\n      }\n    },\n    null,\n    2\n  ),\n  \"\",\n  \"RULES:\",\n  \"- Apply the human revision comment precisely.\",\n  \"- Do not change categoryId, levelId, block, or num unless the comment requires it.\",\n  \"- If type is SINGLE_CHOICE, answers must contain exactly 6 options.\",\n  \"- Wrong answers must be plausible but clearly incorrect.\",\n  \"- The explanation must match the revised question.\",\n  \"- Do not invent sources. If no source is reliable enough, keep recommendedLiterature as [].\"\n].join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      ...pending,\n      openAiRevisionBody: {\n        model: \"gpt-4.1-mini\",\n        input: prompt\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7280,-224],"id":"2605fe9e-558f-4467-abd4-df81bb0fd2be","name":"Prepare OpenAI Revision Request"},{"parameters":{"jsCode":"const newQuestion = $input.item.json;\nconst revisionSource = $(\"Prepare Revision Comment\").item.json;\nconst now = new Date().toISOString();\n\nreturn [\n  {\n    json: {\n      questionId: revisionSource.questionId,\n      status: \"revised\",\n      revisedAt: now,\n      revisedQuestionId: newQuestion.questionId,\n      revisionComment: revisionSource.revisionComment,\n      updatedAt: now,\n\n      targetCollectionPath: revisionSource.targetCollectionPath,\n      targetLevelDocumentPath: revisionSource.targetLevelDocumentPath,\n      documentData: revisionSource.documentData,\n      previewText: revisionSource.previewText,\n      telegramChatId: revisionSource.telegramChatId,\n      originalTelegramMessageId: revisionSource.originalTelegramMessageId,\n      generationOptions: revisionSource.generationOptions || null,\n      createdAt: revisionSource.createdAt,\n      revisionRequestedAt: revisionSource.revisionRequestedAt,\n      revisionHistory: revisionSource.revisionHistory || []\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[9520,192],"id":"434bc844-50b1-47a8-8479-a60515cafea0","name":"Prepare Old Question Revised Status"},{"parameters":{"authentication":"serviceAccount","operation":"upsert","projectId":"studio-2985968119-3ca85","collection":"pendingQuestions","updateKey":"questionId ","columns":"questionId, status, revisedAt, revisedQuestionId, revisionComment, updatedAt, targetCollectionPath, targetLevelDocumentPath, documentData, previewText, telegramChatId, originalTelegramMessageId, generationOptions, createdAt, revisionRequestedAt, revisionHistory"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[9744,192],"id":"c63dff69-af60-4eae-a32a-2ed73f59ef38","name":"Update Old Question as Revised","credentials":{"googleApi":{"id":"i4yPKjshhrkRZM1L","name":"Google Firebase Cloud Firestore account"}}},{"parameters":{"chatId":"={{ $json.telegramChatId }}","text":"={{ \"Question revised from comment.\\n\\nOld ID: \" + $json.questionId + \"\\nNew version: \" + $json.revisedQuestionId }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[9968,192],"id":"0b23906d-d40e-4d37-94be-9c742711643d","name":"Send Revision Completed","webhookId":"1e98fdfc-f9f5-418a-87f0-83a3c0ed94f9","credentials":{"telegramApi":{"id":"WLaUgunVuF7TVeQx","name":"Telegram account"}}},{"parameters":{"url":"https://api.openalex.org/works","sendQuery":true,"queryParameters":{"parameters":[{"name":"search","value":"={{ $json.searchQuery }}"},{"name":"per-page","value":"={{ $json.sourceLimit }}"},{"name":"sort","value":"relevance_score:desc"},{"name":"filter","value":"has_abstract:true,is_retracted:false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[3920,464],"id":"ae734cf9-dd12-47ed-a768-ebd770fee65a","name":"OpenAlex Search","retryOnFail":true,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const input = $input.item.json;\nconst results = input.results || [];\n\nconst previous = $(\"Load Curated Sources\").item.json;\nconst sourcePolicy = previous.sourcePolicy || input.sourcePolicy || {};\nconst rawCuratedSources = previous.curatedSources || [];\n\nconst REVIEW_WORD = \"\\u0440\\u0435\\u0446\\u0435\\u043d\\u0437\\u0456\\u044f\";\nconst REVIEW_ON_PUBLICATION = \"\\u0440\\u0435\\u0446\\u0435\\u043d\\u0437\\u0456\\u044f \\u043d\\u0430 \\u0432\\u0438\\u0434\\u0430\\u043d\\u043d\\u044f\";\n\nfunction rebuildAbstract(inverted) {\n  if (!inverted || typeof inverted !== \"object\") return \"\";\n\n  const words = [];\n\n  for (const [word, positions] of Object.entries(inverted)) {\n    for (const pos of positions) {\n      words[pos] = word;\n    }\n  }\n\n  return words.join(\" \");\n}\n\nfunction cleanText(value) {\n  return String(value || \"\")\n    .replace(/&#13;/g, \"\")\n    .replace(/\\\\n/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction getHost(url) {\n  try {\n    return new URL(url).hostname.replace(/^www\\./, \"\").toLowerCase();\n  } catch {\n    return \"\";\n  }\n}\n\nfunction domainMatches(host, domain) {\n  host = String(host || \"\").toLowerCase();\n  domain = String(domain || \"\").replace(/^www\\./, \"\").toLowerCase();\n\n  return host === domain || host.endsWith(\".\" + domain);\n}\n\nfunction getSourceUrl(source) {\n  return (\n    source.url ||\n    source.landingPageUrl ||\n    source.doi ||\n    source.id ||\n    source.openAlexId ||\n    \"\"\n  );\n}\n\nfunction scoreSourceAuthority(source, sourcePolicy) {\n  const preferredDomains = sourcePolicy?.preferredDomains || [];\n  const strongSourceTypes = sourcePolicy?.strongSourceTypes || [];\n  const url = getSourceUrl(source);\n  const host = getHost(url);\n\n  let authorityScore = 0.35;\n  let sourceTier = \"weak_web\";\n\n  if (preferredDomains.some((domain) => domainMatches(host, domain))) {\n    authorityScore += 0.35;\n    sourceTier = \"preferred_domain\";\n  }\n\n  if (source.sourceType && strongSourceTypes.includes(source.sourceType)) {\n    authorityScore += 0.25;\n    sourceTier = \"strong_source_type\";\n  }\n\n  if (source.reliability === \"high\") {\n    authorityScore += 0.2;\n    sourceTier = \"curated\";\n  }\n\n  if (source.isRetracted === true) {\n    authorityScore = 0;\n    sourceTier = \"retracted\";\n  }\n\n  return {\n    authorityScore: Math.max(0, Math.min(1, authorityScore)),\n    sourceTier\n  };\n}\n\nconst curatedSources = rawCuratedSources.map((source) => {\n  const authority = scoreSourceAuthority(source, sourcePolicy);\n\n  return {\n    ...source,\n    authorityScore: authority.authorityScore,\n    sourceTier: authority.sourceTier\n  };\n});\n\nfunction getQueryCandidates() {\n  return [\n    input.searchQuery,\n    ...(Array.isArray(input.researchQueries) ? input.researchQueries : []),\n    input.canonicalTopic,\n    input.topic\n  ]\n    .map((value) => String(value || \"\").toLowerCase().trim())\n    .filter(Boolean);\n}\n\nfunction scoreItem(item) {\n  let score = 0;\n\n  const title = String(item.title || item.display_name || \"\").toLowerCase();\n  const abstractText = rebuildAbstract(item.abstract_inverted_index).toLowerCase();\n  const queryCandidates = getQueryCandidates();\n\n  const titleMatches = queryCandidates.some((query) => title.includes(query));\n  const abstractMatches = queryCandidates.some((query) => abstractText.includes(query));\n\n  if (titleMatches) score += 5;\n  if (abstractMatches) score += 3;\n\n  const canonicalTopic = String(input.canonicalTopic || \"\").toLowerCase().trim();\n\n  if (canonicalTopic && title.includes(canonicalTopic)) {\n    score += 3;\n  }\n\n  if (item.publication_year) score += 1;\n  if (item.doi) score += 1;\n  if (item.cited_by_count > 0) score += 1;\n  if (item.is_retracted === true) score -= 10;\n\n  if (\n    title.startsWith(REVIEW_WORD) ||\n    abstractText.startsWith(REVIEW_WORD) ||\n    abstractText.includes(REVIEW_ON_PUBLICATION)\n  ) {\n    score -= 4;\n  }\n\n  return score;\n}\n\nconst sources = results\n  .map((item) => {\n    const title = cleanText(item.title || item.display_name || \"Untitled source\");\n\n    const abstractText = cleanText(\n      rebuildAbstract(item.abstract_inverted_index)\n    );\n\n    const topics = (item.topics || [])\n      .map((t) => t.display_name)\n      .filter(Boolean)\n      .slice(0, 5);\n\n    const primaryTopic = item.primary_topic?.display_name || null;\n\n    return {\n      raw: item,\n      score: scoreItem(item),\n      title,\n      year: item.publication_year || \"unknown\",\n      citedBy: item.cited_by_count || 0,\n      doi: item.doi || null,\n      openAlexId: item.id || null,\n      primaryTopic,\n      topics,\n      abstract: abstractText.slice(0, 800)\n    };\n  })\n  .filter((source) => source.score > 0)\n  .sort((a, b) => b.score - a.score)\n  .slice(0, Math.min(Number(input.sourceLimit || 3), 5))\n  .map((source, index) => {\n    const authority = scoreSourceAuthority(\n      {\n        ...source,\n        sourceType: \"peer_reviewed_article\",\n        url: source.openAlexId || source.doi,\n        isRetracted: source.raw?.is_retracted === true\n      },\n      sourcePolicy\n    );\n\n    return {\n      index: index + 1,\n      title: source.title,\n      year: source.year,\n      citedBy: source.citedBy,\n      doi: source.doi,\n      openAlexId: source.openAlexId,\n      primaryTopic: source.primaryTopic,\n      topics: source.topics,\n      abstract: source.abstract,\n      authorityScore: authority.authorityScore,\n      sourceTier: authority.sourceTier\n    };\n  });\n\nconst curatedBrief = curatedSources.map((source, index) => {\n  return [\n    `[C${index + 1}] ${source.title}`,\n    source.author ? `Author: ${source.author}` : null,\n    source.year ? `Year: ${source.year}` : null,\n    source.place || source.publisher\n      ? `Publication: ${[source.place, source.publisher].filter(Boolean).join(\", \")}`\n      : null,\n    `Type: ${source.sourceType}`,\n    `Reliability: ${source.reliability}`,\n    source.note ? `Note: ${source.note}` : null,\n    source.evidenceNotes?.length\n      ? `Evidence notes:\\n- ${source.evidenceNotes.join(\"\\n- \")}`\n      : null\n  ]\n    .filter(Boolean)\n    .join(\"\\n\");\n}).join(\"\\n\\n---\\n\\n\");\n\nconst openAlexBrief = sources.length\n  ? sources\n      .map((source) => {\n        return [\n          `[${source.index}] ${source.title}`,\n          `Year: ${source.year}`,\n          `Citations: ${source.citedBy}`,\n          source.doi ? `DOI: ${source.doi}` : null,\n          source.openAlexId ? `OpenAlex: ${source.openAlexId}` : null,\n          source.primaryTopic ? `Primary topic: ${source.primaryTopic}` : null,\n          source.topics?.length ? `Topics: ${source.topics.join(\", \")}` : null,\n          source.abstract ? `Abstract: ${source.abstract}` : null\n        ]\n          .filter(Boolean)\n          .join(\"\\n\");\n      })\n      .join(\"\\n\\n---\\n\\n\")\n  : \"\";\n\nconst sourceBrief = [\n  curatedBrief ? \"CURATED SOURCES:\\n\" + curatedBrief : null,\n  openAlexBrief ? \"OPENALEX SOURCES:\\n\" + openAlexBrief : null\n]\n  .filter(Boolean)\n  .join(\"\\n\\n====================\\n\\n\");\n\nconst reviewLikeCount = sources.filter((s) =>\n  String(s.abstract || \"\").toLowerCase().includes(REVIEW_ON_PUBLICATION)\n).length;\n\nconst weakTopicCount = sources.filter((s) =>\n  [\"Military Technology and Strategies\", \"Eastern European Communism and Reforms\"]\n    .includes(s.primaryTopic)\n).length;\n\nconst allSources = [...curatedSources, ...sources];\n\nconst strongSources = allSources.filter((source) =>\n  Number(source.authorityScore || 0) >= 0.65 ||\n  [\"curated\", \"strong_source_type\", \"preferred_domain\"].includes(source.sourceTier)\n);\n\nconst hasCurated = curatedSources.some((source) => source.sourceTier === \"curated\");\nconst minSources = Number(sourcePolicy.minSources || 2);\nconst allowCuratedSingleSource = sourcePolicy.allowCuratedSingleSource === true;\n\nlet sourceBriefQuality = \"insufficient\";\n\nif (allSources.length === 0) {\n  sourceBriefQuality = \"insufficient\";\n} else if (hasCurated && allowCuratedSingleSource && strongSources.length >= 1) {\n  sourceBriefQuality = \"curated\";\n} else if (strongSources.length >= minSources) {\n  sourceBriefQuality = \"ok\";\n} else if (strongSources.length >= 1) {\n  sourceBriefQuality = \"weak\";\n}\n\nif (reviewLikeCount >= 2 || weakTopicCount >= 2) {\n  sourceBriefQuality = sourceBriefQuality === \"ok\" ? \"weak\" : sourceBriefQuality;\n}\n\nlet sourceConfidence = 0.3;\n\nif (sourceBriefQuality === \"curated\") {\n  sourceConfidence = 0.85;\n} else if (sourceBriefQuality === \"ok\") {\n  sourceConfidence = 0.7;\n} else if (sourceBriefQuality === \"weak\") {\n  sourceConfidence = 0.45;\n} else if (sourceBriefQuality === \"insufficient\") {\n  sourceConfidence = 0.15;\n}\n\nif (curatedSources.length >= 2) {\n  sourceConfidence += 0.05;\n}\n\nif (sources.some((s) => s.doi)) {\n  sourceConfidence += 0.05;\n}\n\nif (sources.some((s) => Number(s.citedBy || 0) > 0)) {\n  sourceConfidence += 0.05;\n}\n\nif (reviewLikeCount >= 2) {\n  sourceConfidence -= 0.1;\n}\n\nif (weakTopicCount >= 2) {\n  sourceConfidence -= 0.1;\n}\n\nsourceConfidence = Math.max(\n  0,\n  Math.min(1, Number(sourceConfidence.toFixed(2)))\n);\n\nreturn [\n  {\n    json: {\n      ...input,\n      retrievedSources: sources,\n      curatedSources,\n      curatedSourceCount: curatedSources.length,\n      hasCuratedSources: curatedSources.length > 0,\n      sourceBrief,\n      sourceBriefStatus:\n        sourceBriefQuality === \"insufficient\"\n          ? \"insufficient_sources\"\n          : sourceBriefQuality,\n      sourceBriefQuality,\n      sourceConfidence,\n      sourceBriefWarnings: {\n        reviewLikeCount,\n        weakTopicCount\n      },\n      sourcePolicy,\n      sourceAuthoritySummary: {\n        totalSources: allSources.length,\n        strongSources: strongSources.length,\n        minSources,\n        hasCurated\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4368,464],"id":"81c8b8fe-873f-463a-a57f-03f6631197e5","name":"Build Source Brief"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f148a559-aae0-417b-945a-1fdbd38fbff5","leftValue":"={{ $json.researchEnabled }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1456,624],"id":"4ba3a530-cead-4bff-9c0a-f0bcb5a2ba51","name":"IF Research Enabled"},{"parameters":{"jsCode":"const input = $input.item.json;\n\nconst retrievedSources = Array.isArray(input.retrievedSources)\n  ? input.retrievedSources\n  : [];\n\nconst sourceIds = retrievedSources\n  .map((s) => s.openAlexId)\n  .filter(Boolean);\n\nconst sourceBrief = input.sourceBrief || \"\";\n\nconst provenanceTemplate = {\n  sourceBriefUsed: Boolean(sourceBrief),\n  sourceCount: retrievedSources.length,\n  sourceIds\n};\n\nconst prompt = [\n  \"You are an educational content generator for NoesisQuiz.\",\n  \"\",\n  \"Generate content in Ukrainian. Return only valid JSON. Do not use Markdown.\",\n  \"\",\n  \"REQUEST PARAMETERS:\",\n  `mode: ${input.mode}`,\n  `topic: ${input.topic}`,\n  `categoryId: ${input.categoryId}`,\n  `levelId: ${input.levelId}`,\n  `block: ${input.block}`,\n  `type: ${input.type}`,\n  `count: ${input.count}`,\n  `researchEnabled: ${input.researchEnabled}`,\n  `sourceBriefStatus: ${input.sourceBriefStatus || \"none\"}`,\n  `sourceBriefQuality: ${input.sourceBriefQuality || \"none\"}`,\n  `sourceConfidence: ${input.sourceConfidence ?? \"none\"}`,\n  `sourceCount: ${retrievedSources.length}`,\n  \"\",\n  \"SOURCE SUFFICIENCY:\",\n  JSON.stringify(input.sourceSufficiency || null, null, 2),\n  \"\",\n  \"SOURCE SUFFICIENCY RULES:\",\n  \"- If sourceSufficiency.sufficientForDraft is false, return JSON with status=\\\"insufficient_sources\\\" and do not invent a question.\",\n  \"- If sourceSufficiency.sufficientForDb is false, the question can only be a draft for review and must not claim to be ready for database approval.\",\n  \"- If sourceSufficiency.reason is insufficient_sources_for_db or weak_sources_for_db, be conservative and do not add specific facts that are not directly supported by sourceBrief.\",\n  \"\",\n  sourceBrief ? `SOURCE BRIEF:\\n${sourceBrief}` : \"SOURCE BRIEF: none\",\n  \"\",\n  \"SOURCE-BACKED GENERATION RULES:\",\n  \"- If SOURCE BRIEF exists, use it as the main evidence context.\",\n  \"- If sourceBriefQuality is curated, treat CURATED SOURCES as the primary evidence layer.\",\n  \"- Use OpenAlex only as an auxiliary metadata layer.\",\n  \"- Do not prefer OpenAlex over curatedSources if they conflict.\",\n  \"- Do not invent sources.\",\n  \"- Do not attribute claims to sources unless they are present in sourceBrief.\",\n  \"- If sourceBrief is weak or contains mostly reviews, formulate a cautious and broad question.\",\n  \"- If sourceSufficiency.sufficientForDraft is false, do not create a question; return status=\\\"insufficient_sources\\\".\",\n  \"- If sources are weak but sufficientForDraft is true, create a simple question only from facts directly supported by sourceBrief.\",\n  \"\",\n  \"QUALITY-AWARE GENERATION RULES:\",\n  \"- If sourceBriefQuality is weak, avoid narrow factual questions, exact dates, exact numbers, and controversial claims.\",\n  \"- If sourceBriefStatus is insufficient_sources, do not use retrieval-specific claims.\",\n  \"- If sourceConfidence is below 0.5, formulate the question broadly and make the explanation cautious.\",\n  \"- If sourceConfidence is 0.8 or higher, you may create a more specific question, but still stay within sourceBrief.\",\n  \"\",\n  \"TASK:\",\n  \"- If mode is question, create exactly one question.\",\n  `- If mode is quiz, create a mini quiz with ${input.count} questions.`,\n  \"\",\n  \"OUTPUT MODE RULES:\",\n  \"- Return only valid JSON. No Markdown, no comments, no text outside JSON.\",\n  \"- Never output null for categoryId, levelId, block, type, or data.type.\",\n  \"- Never output the string \\\"undefined\\\".\",\n  `- categoryId must be exactly: ${input.categoryId}`,\n  `- levelId must be exactly: ${String(input.levelId)}`,\n  `- block must be exactly: ${input.block}`,\n  `- data.type must be exactly: ${input.type}`,\n  \"- If mode is question, return exactly one top-level question object.\",\n  \"- If mode is question, do not return quizTitle.\",\n  \"- If mode is question, do not return questions array.\",\n  \"- If mode is question, the top-level JSON must contain categoryId, levelId, num, block, slug, and data.\",\n  \"- If mode is question, data must contain lang, type, question, answers, correctAnswerIndices, explanation, topics, scientificDisciplines, recommendedLiterature, and provenance.\",\n  \"- If mode is quiz, return quizTitle and questions array.\",\n  \"- If mode is quiz, each item in questions must contain categoryId, levelId, num, block, slug, and data.\",\n  \"- If mode is quiz, each question data object must contain type.\",\n  \"\",\n  \n  \"QUESTION FORMAT:\",\n  JSON.stringify(\n    {\n    categoryId: input.categoryId,\n    levelId: String(input.levelId),\n    num: 1,\n    block: input.block,\n    slug: \"short-latin-slug\",\n    data: {\n      lang: \"ua\",\n      type: input.type,\n      question: \"...\",\n      answers: [\"...\", \"...\", \"...\", \"...\", \"...\", \"...\"],\n      correctAnswerIndices: [0],\n      explanation: \"...\",\n      topics: [\"...\"],\n      scientificDisciplines: [\"...\"],\n      recommendedLiterature: [],\n      provenance: provenanceTemplate,\n    },\n  },\n    null,\n    2\n  ),\n  \"\",\n  \"QUIZ FORMAT:\",\n  JSON.stringify(\n    {\n      quizTitle: \"...\",\n      categoryId: input.categoryId,\n      levelId: String(input.levelId),\n      block: input.block,\n      topic: input.topic,\n      questions: [\n        {\n          categoryId: input.categoryId,\n          levelId: String(input.levelId),\n          num: 1,\n          block: input.block,\n          slug: \"short-latin-slug-1\",\n          data: {\n            lang: \"ua\",\n            type: \"SINGLE_CHOICE\",\n            question: \"...\",\n            answers: [\"...\", \"...\", \"...\", \"...\", \"...\", \"...\"],\n            correctAnswerIndices: [0],\n            explanation: \"...\",\n            topics: [\"...\"],\n            scientificDisciplines: [\"...\"],\n            recommendedLiterature: [],\n            provenance: provenanceTemplate\n          }\n        }\n      ]\n    },\n    null,\n    2\n  ),\n  \"\",\n  \"STRICT RULES:\",\n  '- lang must always be \"ua\".',\n  \"- For SINGLE_CHOICE, answers must contain exactly 6 options.\",\n  \"- correctAnswerIndices is zero-based.\",\n  \n  \"- Never output the string \\\"undefined\\\". If a value is unknown, use the request parameter value.\",\n\"- levelId must be exactly the request levelId.\",\n\"- categoryId must be exactly the request categoryId.\",\n\"- block must be exactly the request block.\",\n  \n  \"- Wrong answers must be plausible but clearly incorrect.\",\n  \"- In a mini quiz, questions must progress logically from basic facts to more complex ideas.\",\n  \"- num must increase from 1 to count.\",\n  \"- slug must be short, Latin-only, and contain no spaces.\",\n  \"- Do not invent sources. If no reliable source can be recommended, keep recommendedLiterature as [].\",\n  \"- The question, answers, explanation, topics, and scientificDisciplines must be written in Ukrainian.\"\n].join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      ...input,\n      openAiGenerateBody: {\n        model: \"gpt-4.1-mini\",\n        input: prompt\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5712,720],"id":"8b7a37ad-8e24-4531-88b5-e2069a6001b0","name":"Prepare OpenAI Generate Request"},{"parameters":{"jsCode":"const input = $input.item.json;\n\nconst sourceSet = input || {};\n\nconst isActive = sourceSet.status === \"active\";\nconst sources = Array.isArray(sourceSet.sources) && isActive\n  ? sourceSet.sources\n  : [];\n\nconst previous = $(\"Build Curated Source Set Key\").item.json;\n\nreturn [\n  {\n    json: {\n      ...previous,\n      curatedSourceSet: {\n        sourceSetId: sourceSet.sourceSetId || previous.curatedSourceSetKey || null,\n        discipline: sourceSet.discipline || previous.sourcePolicy?.discipline || null,\n        title: sourceSet.title || null,\n        status: sourceSet.status || \"missing\",\n        reliability: sourceSet.reliability || null,\n        keywordCount: Array.isArray(sourceSet.keywords) ? sourceSet.keywords.length : 0,\n        sourceCount: sources.length,\n        version: sourceSet.version || null,\n        updatedAt: sourceSet.updatedAt || null\n      },\n      curatedSources: sources,\n      curatedSourceCount: sources.length,\n      hasCuratedSources: sources.length > 0\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3696,464],"id":"27c08bca-d8d5-4f8f-933a-70997dcaf558","name":"Load Curated Sources"},{"parameters":{"jsCode":"const input = $input.item.json;\n\nconst generatedText = String(input.message?.text || \"\").trim();\n\nlet generatedJson;\n\ntry {\n  generatedJson = JSON.parse(generatedText);\n} catch (error) {\n  return [\n    {\n      json: {\n        ok: false,\n        reviewError: \"AI output is not valid JSON before review.\",\n        generatedText,\n        telegramChatId: input.message?.chat?.id\n      }\n    }\n  ];\n}\n\nconst parseOptions = $(\"Parse Generate Options\").item.json;\n\nlet buildSourceBrief = null;\n\ntry {\n  if ($(\"Build Source Brief\").isExecuted) {\n    buildSourceBrief = $(\"Build Source Brief\").item.json;\n  }\n} catch (error) {\n  buildSourceBrief = null;\n}\n\nconst sourceBrief =\n  input.sourceBrief ||\n  input.generationOptions?.sourceBrief ||\n  parseOptions.sourceBrief ||\n  buildSourceBrief?.sourceBrief ||\n  \"\";\n\nconst sourceBriefQuality =\n  input.sourceBriefQuality ||\n  input.generationOptions?.sourceBriefQuality ||\n  parseOptions.sourceBriefQuality ||\n  buildSourceBrief?.sourceBriefQuality ||\n  \"none\";\n\nconst sourceBriefStatus =\n  input.sourceBriefStatus ||\n  input.generationOptions?.sourceBriefStatus ||\n  parseOptions.sourceBriefStatus ||\n  buildSourceBrief?.sourceBriefStatus ||\n  \"none\";\n\nconst sourceAuthoritySummary =\n  input.sourceAuthoritySummary ||\n  input.reviewDecision?.sourceAuthoritySummary ||\n  buildSourceBrief?.sourceAuthoritySummary ||\n  null;\n\nconst sourcePolicy =\n  input.sourcePolicy ||\n  buildSourceBrief?.sourcePolicy ||\n  null;\n\nconst reviewPrompt = [\n  \"You are Noesis Source-Backed Reviewer.\",\n  \"\",\n  \"Your task is not to rewrite the question. Your task is to evaluate its quality and safety.\",\n  \"\",\n  `Review reason: ${input.reviewDecision?.reviewReason || \"unknown\"}`,\n  `Source confidence: ${input.reviewDecision?.sourceConfidence ?? \"unknown\"}`,\n  `Source status: ${sourceBriefStatus}`,\n  `Source brief quality: ${sourceBriefQuality}`,\n  `Source authority summary: ${JSON.stringify(sourceAuthoritySummary)}`,\n  `Source discipline: ${sourcePolicy?.discipline || input.reviewDecision?.sourcePolicyDiscipline || \"unknown\"}`,\n  `Should review: ${input.reviewDecision?.shouldReview}`,\n  \"\",\n  \"CHECKLIST:\",\n  \"- factual correctness;\",\n  \"- consistency with SOURCE BRIEF;\",\n  \"- whether the correct answer is unambiguous;\",\n  \"- distractor quality;\",\n  \"- explanation quality;\",\n  \"- pedagogical value;\",\n  \"- hallucination risk;\",\n  \"- whether the generated question makes claims that are not supported by SOURCE BRIEF.\",\n  \"\",\n  \"SOURCE BRIEF:\",\n  sourceBrief || \"none\",\n  \"\",\n  \"GENERATED QUESTION JSON:\",\n  JSON.stringify(generatedJson, null, 2),\n  \"\",\n  \"Return only valid JSON. Do not use Markdown.\",\n  \"\",\n  \"Required JSON shape:\",\n  JSON.stringify(\n    {\n      approved: true,\n      confidence: 0.85,\n      factualReliability: 0.9,\n      pedagogicalQuality: 0.8,\n      distractorQuality: 0.8,\n      ambiguityRisk: 0.1,\n      hallucinationRisk: 0.1,\n      verdict: \"pass\",\n      issues: [],\n      recommendations: []\n    },\n    null,\n    2\n  ),\n  \"\",\n  \"DECISION RULES:\",\n  \"- verdict = pass only if the question can safely proceed to human moderation.\",\n  \"- verdict = revise if the question needs correction but is not fundamentally unsafe.\",\n  \"- verdict = reject if the question is factually unsafe, unsupported, or has an ambiguous correct answer.\",\n  \"- If sourceBriefQuality is insufficient or sourceBriefStatus is insufficient_sources, verdict must not be pass for a factual question.\",\n  \"- If sourceBriefQuality is weak, verdict pass is allowed only for a broad question directly supported by SOURCE BRIEF.\",\n  \"- If SOURCE BRIEF does not directly support the correct answer or explanation, verdict must be revise or reject.\",\n  \"- If more than one answer could reasonably be correct, verdict must be revise or reject.\",\n  \"- The generated question is in Ukrainian; evaluate the Ukrainian text as written.\",\n  \"- Do not penalize the question merely because the review instructions are in English.\"\n].join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      ...input,\n      generatedJson,\n      reviewPrompt\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7056,960],"id":"2d2cce1d-56a6-4587-a4c7-f068f63c76fc","name":"Prepare Review Request"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/responses","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-4.1-mini"},{"name":"input","value":"=input = {{ $json.reviewPrompt }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[7280,960],"id":"a29be3ed-f480-4393-b3d1-64b4aa544654","name":"OpenAI Review Question","credentials":{"openAiApi":{"id":"gAmwH7x8JpBuSJrV","name":"OpenAI account"}}},{"parameters":{"jsCode":"const reviewResponse = $input.item.json;\n\nconst aiText =\n  reviewResponse.output_text ||\n  reviewResponse.output?.[0]?.content?.[0]?.text ||\n  reviewResponse.output?.[0]?.content?.find?.(c => c.type === \"output_text\")?.text ||\n  reviewResponse.text ||\n  \"\";\n\nlet review;\n\ntry {\n  const cleaned = String(aiText)\n    .trim()\n    .replace(/^```json\\s*/i, \"\")\n    .replace(/^```\\s*/i, \"\")\n    .replace(/```$/i, \"\")\n    .trim();\n\n  review = JSON.parse(cleaned);\n} catch (error) {\n  review = {\n    approved: false,\n    confidence: 0,\n    factualReliability: 0,\n    pedagogicalQuality: 0,\n    distractorQuality: 0,\n    ambiguityRisk: 1,\n    hallucinationRisk: 1,\n    verdict: \"revise\",\n    issues: [\"Could not parse AI review as valid JSON.\"],\n    recommendations: [\"Review the generated question manually.\"]\n  };\n}\n\nconst original = $(\"Prepare Review Request\").item.json;\n\nreturn [\n  {\n    json: {\n      ...original,\n      aiReview: review,\n      message: {\n        ...original.message,\n        text: JSON.stringify(original.generatedJson)\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7504,960],"id":"83e9f2ae-ae3c-42c9-b88e-4e4797322e79","name":"Attach Review Result"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"98134e2d-17c1-440a-a21a-3b3e79b51e95","leftValue":"={{ $json.aiReview?.verdict === \"pass\" || $json.aiReview?.approved === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[7728,960],"id":"12c19f87-05e7-494b-beb8-67cee91d98c4","name":"IF Review Passed"},{"parameters":{"chatId":"={{ $json.telegramChatId || $json.message.chat.id }}","text":"={{ \n\"AI reviewer did not pass the question.\\n\\n\" +\n\"Verdict: \" + ($json.aiReview?.verdict || \"unknown\") + \"\\n\" +\n\"Confidence: \" + ($json.aiReview?.confidence ?? \"n/a\") + \"\\n\\n\" +\n\"Issues:\\n\" + (($json.aiReview?.issues || []).join(\"\\n\") || \"not specified\") + \"\\n\\n\" +\n\"Recommendations:\\n\" + (($json.aiReview?.recommendations || []).join(\"\\n\") || \"not specified\")\n}}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[7952,1184],"id":"d234fd92-4bcb-4f37-a64f-6b57deadcf47","name":"Send Review Failed","webhookId":"44818ca3-7295-458a-a35f-02a8e5d8622f","credentials":{"telegramApi":{"id":"WLaUgunVuF7TVeQx","name":"Telegram account"}}},{"parameters":{"operation":"sendDocument","chatId":"={{ $json.telegramChatId }}","binaryData":true,"additionalFields":{"caption":"={{ \"Mini quiz document generated.\\nTopic: \" + ($json.quizTitle || $json.quiz?.quizTitle || \"untitled\") + \"\\nDatabase write: \" + ($(\"Parse Generate Options\").item.json.saveToDb ? \"enabled\" : \"disabled\") }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[7728,368],"id":"cd11caa0-9183-486a-8e67-19f70e73bd59","name":"Send Quiz Document","webhookId":"5a41943a-09a6-4402-b939-32d92ca9df9c","credentials":{"telegramApi":{"id":"WLaUgunVuF7TVeQx","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"53e4b830-5e39-409c-b73c-a6823844be4b","leftValue":"={{ $json.generationOptions?.mode === \"revision\" }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[9296,192],"id":"a1a8e341-2801-4259-aa83-7da9c3c251f0","name":"IF Is Revision Result"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"abe1c7fd-b6a1-4ff8-bbca-a7a391e06c93","leftValue":"={{ $json.ok }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1008,720],"id":"fdf912e4-51b5-40d3-a1f1-2927a475e27a","name":"IF Generate Options Parsed"},{"parameters":{"chatId":"={{ $json.telegramChatId }}","text":"={{ \"Generation command was not executed.\\n\\nError: \" + ($json.error || \"unknown error\") + \"\\n\\nExample:\\n/generate_question topic=\\\"Kyivska Rus\\\" categoryId=erudite levelId=1 block=A type=SINGLE_CHOICE db=off doc=on research=on sources=3\" }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1232,816],"id":"dd157589-f5c7-4c66-9c91-f88c7de3bfd8","name":"Send Generate Options Error","webhookId":"e5f813b9-7a20-47e9-8f67-4dceb9a41ab8","credentials":{"telegramApi":{"id":"WLaUgunVuF7TVeQx","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"704baccf-d808-44cc-a5f8-44d64e1b9d11","leftValue":"={{ $json.reviewDecision.shouldReview }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[6832,896],"id":"d6bc44a1-682b-49f5-9d3a-61509b8234f7","name":"IF Should Review"},{"parameters":{"jsCode":"const input = $input.item.json;\n\nconst parseOptions = $(\"Parse Generate Options\").item.json;\n\nconst reviewEnabled = parseOptions.reviewEnabled === true;\nconst autoReview = parseOptions.autoReview !== false;\n\nconst saveToDb = parseOptions.saveToDb === true;\nconst researchEnabled = parseOptions.researchEnabled === true;\n\nlet sourceBriefQuality = input.sourceBriefQuality || \"none\";\nlet sourceBriefStatus = input.sourceBriefStatus || \"none\";\nlet sourceConfidence = null;\nlet sourcePolicy = input.sourcePolicy || {};\nlet sourceAuthoritySummary = input.sourceAuthoritySummary || null;\n\nif (typeof input.sourceConfidence === \"number\") {\n  sourceConfidence = input.sourceConfidence;\n} else if (input.sourceConfidence !== undefined && input.sourceConfidence !== null) {\n  const parsed = Number(input.sourceConfidence);\n  sourceConfidence = Number.isFinite(parsed) ? parsed : null;\n}\n\ntry {\n  if ($(\"Build Source Brief\").isExecuted) {\n    const brief = $(\"Build Source Brief\").item.json;\n\n    sourceBriefQuality = brief.sourceBriefQuality || sourceBriefQuality;\n    sourceBriefStatus = brief.sourceBriefStatus || sourceBriefStatus;\n    sourcePolicy = brief.sourcePolicy || sourcePolicy;\n    sourceAuthoritySummary = brief.sourceAuthoritySummary || sourceAuthoritySummary;\n\n    if (typeof brief.sourceConfidence === \"number\") {\n      sourceConfidence = brief.sourceConfidence;\n    } else if (brief.sourceConfidence !== undefined && brief.sourceConfidence !== null) {\n      const parsed = Number(brief.sourceConfidence);\n      sourceConfidence = Number.isFinite(parsed) ? parsed : sourceConfidence;\n    }\n  }\n} catch (error) {\n  // Keep source context from input when Build Source Brief was not executed.\n}\n\nlet generatedJson = null;\nlet questionType = parseOptions.type || \"SINGLE_CHOICE\";\n\ntry {\n  generatedJson = JSON.parse(input.message?.text || \"{}\");\n  questionType = generatedJson?.data?.type || questionType;\n} catch (error) {\n  // Let Parse Question JSON handle invalid generated JSON later.\n}\n\nif (typeof questionType === \"string\") {\n  questionType = questionType.trim().toUpperCase();\n}\n\nconst complexTypes = [\n  \"READING_COMPREHENSION\",\n  \"SLIDER_SCALE\",\n  \"COMPARISON\",\n  \"TEN_FACTS\",\n  \"MATCHING\",\n  \"SEQUENCE\"\n];\n\nconst isComplexType = complexTypes.includes(questionType);\n\nconst isWeakSource =\n  sourceBriefQuality === \"weak\" ||\n  sourceBriefQuality === \"insufficient\" ||\n  sourceBriefStatus === \"weak\" ||\n  sourceBriefStatus === \"insufficient_sources\" ||\n  (typeof sourceConfidence === \"number\" && sourceConfidence < 0.55);\n\nconst sourcePolicyRequiresReview = sourcePolicy.requiresReview === true;\n\nconst highRisk =\n  saveToDb ||\n  isWeakSource ||\n  isComplexType ||\n  sourcePolicyRequiresReview ||\n  (researchEnabled && sourceBriefQuality !== \"curated\" && sourceBriefQuality !== \"ok\");\n\nlet shouldReview = false;\nlet reviewReason = \"review_not_needed\";\n\nif (reviewEnabled) {\n  shouldReview = true;\n  reviewReason = \"manual_review_on\";\n} else if (autoReview && highRisk) {\n  shouldReview = true;\n\n  if (saveToDb) {\n    reviewReason = \"db_on_requires_review\";\n  } else if (isWeakSource) {\n    reviewReason = \"weak_or_insufficient_sources\";\n  } else if (sourcePolicyRequiresReview) {\n    reviewReason = \"source_policy_requires_review\";\n  } else if (isComplexType) {\n    reviewReason = \"complex_question_type\";\n  } else {\n    reviewReason = \"risk_based_review\";\n  }\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n      reviewDecision: {\n        shouldReview,\n        reviewReason,\n        reviewEnabled,\n        autoReview,\n        saveToDb,\n        researchEnabled,\n        sourceBriefQuality,\n        sourceBriefStatus,\n        sourceConfidence,\n        sourceAuthoritySummary,\n        sourcePolicyDiscipline: sourcePolicy.discipline || null,\n        sourcePolicyRequiresReview,\n        questionType\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6608,896],"id":"5058a0bd-0718-49f1-95c8-07713a37c945","name":"Decide Review Need"},{"parameters":{"chatId":"={{ $json.telegramChatId || $json.message.chat.id }}","text":"={{ \n\"AI review summary\\n\\n\" +\n\"Verdict: \" + ($json.aiReview?.verdict || \"unknown\") + \"\\n\" +\n\"Confidence: \" + ($json.aiReview?.confidence ?? \"n/a\") + \"\\n\" +\n\"Factual reliability: \" + ($json.aiReview?.factualReliability ?? \"n/a\") + \"\\n\" +\n\"Pedagogical quality: \" + ($json.aiReview?.pedagogicalQuality ?? \"n/a\") + \"\\n\" +\n\"Distractor quality: \" + ($json.aiReview?.distractorQuality ?? \"n/a\") + \"\\n\\n\" +\n\"Issues:\\n\" + (($json.aiReview?.issues || []).join(\"\\n\") || \"none\")\n}}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[7952,992],"id":"485b8d29-1d55-41fe-a213-d1bf7782ff75","name":"Send Review Summary","webhookId":"3a72b59f-3577-4189-b119-4076d5851879","credentials":{"telegramApi":{"id":"WLaUgunVuF7TVeQx","name":"Telegram account"}}},{"parameters":{"jsCode":"const pending = $input.first().json;\n\nif (!pending.documentData) {\n  return [\n    {\n      json: {\n        ok: false,\n        error: \"pendingQuestions document has no documentData field.\",\n        pending\n      }\n    }\n  ];\n}\n\nconst d = pending.documentData;\n\nreturn [\n  {\n    json: {\n      questionId: pending.questionId || d.questionId,\n      telegramChatId: pending.telegramChatId,\n      targetCollectionPath: pending.targetCollectionPath,\n      targetLevelDocumentPath: pending.targetLevelDocumentPath,\n\n      type: d.type,\n      question: d.question || \"\",\n      answers: Array.isArray(d.answers) ? d.answers : [],\n      correctAnswerIndices: Array.isArray(d.correctAnswerIndices)\n        ? d.correctAnswerIndices.map(Number)\n        : [],\n      explanation: d.explanation || \"\",\n      topics: Array.isArray(d.topics) ? d.topics : [],\n      scientificDisciplines: Array.isArray(d.scientificDisciplines)\n        ? d.scientificDisciplines\n        : [],\n      recommendedLiterature: Array.isArray(d.recommendedLiterature)\n        ? d.recommendedLiterature\n        : [],\n      provenance: d.provenance || null\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,-800],"id":"aef23095-09d4-4185-8ae8-8a5f3be032fc","name":"Prepare Approved Question"},{"parameters":{"chatId":"={{ $json.telegramChatId }}","text":"={{ \"Question rejected.\\n\\nID: \" + $json.questionId }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2128,-320],"id":"5446ae34-4ea2-4ea6-a98e-b3cf863616ea","name":"Send Reject Success","webhookId":"a49f7940-533d-4346-becc-b901dabf82ce","credentials":{"telegramApi":{"id":"WLaUgunVuF7TVeQx","name":"Telegram account"}}},{"parameters":{"jsCode":"const item = $input.first().json;\n\nfunction norm(value) {\n  return String(value || \"\")\n    .toLowerCase()\n    .trim()\n    .normalize(\"NFKD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\");\n}\n\nfunction hasAny(text, patterns) {\n  return patterns.some((pattern) => text.includes(pattern));\n}\n\nconst topic = norm(item.topic);\nconst categoryId = norm(item.categoryId);\n\nfunction detectDiscipline(topic, categoryId) {\n  const topicLatin = topic\n    .replace(/ї/g, \"i\")\n    .replace(/і/g, \"i\")\n    .replace(/є/g, \"e\")\n    .replace(/ґ/g, \"g\");\n\n  if (\n    hasAny(topicLatin, [\n      \"astronom\",\n      \"kosmos\",\n      \"planet\",\n      \"zor\",\n      \"galakt\",\n      \"teleskop\",\n      \"soniach\",\n      \"sonyach\",\n      \"misiats\",\n      \"misyac\",\n      \"mars\",\n      \"yupiter\",\n      \"jupiter\",\n      \"ekzoplanet\"\n    ])\n  ) {\n    return \"astronomy\";\n  }\n\n  if (\n    hasAny(topicLatin, [\n      \"filosof\",\n      \"aristotel\",\n      \"platon\",\n      \"kant\",\n      \"hegel\",\n      \"nitsshe\",\n      \"nietzsche\",\n      \"etyk\",\n      \"etik\",\n      \"metafiz\",\n      \"epistemolog\"\n    ]) ||\n    categoryId === \"philosophy\"\n  ) {\n    return \"philosophy\";\n  }\n\n  if (\n    hasAny(topicLatin, [\n      \"kyivska rus\",\n      \"kiivska rus\",\n      \"kievan rus\",\n      \"kyivan rus\",\n      \"rus\",\n      \"serednovich\",\n      \"kniaz\",\n      \"knyaz\",\n      \"litopys\",\n      \"istor\"\n    ]) ||\n    categoryId === \"culture\" ||\n    categoryId === \"erudite\"\n  ) {\n    return \"history\";\n  }\n\n  if (\n    hasAny(topicLatin, [\n      \"medyts\",\n      \"medic\",\n      \"biolog\",\n      \"psykholog\",\n      \"psycholog\",\n      \"epidem\",\n      \"klinich\",\n      \"zdorov\"\n    ])\n  ) {\n    return \"biomedicine\";\n  }\n\n  if (\n    hasAny(topicLatin, [\n      \"matemat\",\n      \"fizyk\",\n      \"fizik\",\n      \"algorytm\",\n      \"algorithm\",\n      \"shtuchn\",\n      \"statyst\",\n      \"statist\",\n      \"ai\",\n      \"machine learning\"\n    ]) ||\n    categoryId === \"science\"\n  ) {\n    return \"science\";\n  }\n\n  return \"general\";\n}\n\nconst discipline = detectDiscipline(topic, categoryId);\n\nconst policies = {\n  astronomy: {\n    discipline: \"astronomy\",\n    minSources: 2,\n    preferredProviderOrder: [\"official\", \"openalex\", \"crossref\"],\n    preferredDomains: [\n      \"nasa.gov\",\n      \"science.nasa.gov\",\n      \"data.nasa.gov\",\n      \"api.nasa.gov\",\n      \"esa.int\",\n      \"cosmos.esa.int\",\n      \"iau.org\",\n      \"ssd.jpl.nasa.gov\",\n      \"adsabs.harvard.edu\"\n    ],\n    strongSourceTypes: [\"official_agency\", \"peer_reviewed_article\", \"curated_reference\"],\n    allowOfficialSingleSource: true,\n    allowCuratedSingleSource: true,\n    quotePolicy: \"short_excerpt_or_public_domain_only\"\n  },\n\n  philosophy: {\n    discipline: \"philosophy\",\n    minSources: 1,\n    preferredProviderOrder: [\"curated\", \"reference\", \"openalex\"],\n    preferredDomains: [\n      \"plato.stanford.edu\",\n      \"iep.utm.edu\",\n      \"gutenberg.org\",\n      \"wikisource.org\",\n      \"uk.wikisource.org\",\n      \"perseus.tufts.edu\",\n      \"archive.org\"\n    ],\n    strongSourceTypes: [\"curated_reference\", \"primary_text_public_domain\", \"peer_reviewed_article\"],\n    allowOfficialSingleSource: false,\n    allowCuratedSingleSource: true,\n    quotePolicy: \"public_domain_or_short_attributed_excerpt_only\"\n  },\n\n  history: {\n    discipline: \"history\",\n    minSources: 2,\n    preferredProviderOrder: [\"curated\", \"openalex\", \"crossref\", \"reference\"],\n    preferredDomains: [\n      \"litopys.org.ua\",\n      \"history.org.ua\",\n      \"encyclopediaofukraine.com\",\n      \"jstor.org\",\n      \"cambridge.org\",\n      \"oxfordreference.com\",\n      \"openalex.org\"\n    ],\n    strongSourceTypes: [\"curated_monograph\", \"peer_reviewed_article\", \"academic_reference\", \"primary_text_public_domain\"],\n    allowOfficialSingleSource: false,\n    allowCuratedSingleSource: true,\n    quotePolicy: \"public_domain_or_short_attributed_excerpt_only\"\n  },\n\n  biomedicine: {\n    discipline: \"biomedicine\",\n    minSources: 2,\n    preferredProviderOrder: [\"pubmed\", \"official\", \"openalex\", \"crossref\"],\n    preferredDomains: [\n      \"pubmed.ncbi.nlm.nih.gov\",\n      \"pmc.ncbi.nlm.nih.gov\",\n      \"who.int\",\n      \"nih.gov\",\n      \"cdc.gov\",\n      \"cochranelibrary.com\"\n    ],\n    strongSourceTypes: [\"systematic_review\", \"clinical_guideline\", \"peer_reviewed_article\", \"official_health_agency\"],\n    allowOfficialSingleSource: false,\n    allowCuratedSingleSource: false,\n    preprintsAllowed: false,\n    requiresReview: true,\n    quotePolicy: \"short_excerpt_only\"\n  },\n\n  science: {\n    discipline: \"science\",\n    minSources: 2,\n    preferredProviderOrder: [\"openalex\", \"crossref\", \"arxiv\"],\n    preferredDomains: [\n      \"nature.com\",\n      \"science.org\",\n      \"springer.com\",\n      \"sciencedirect.com\",\n      \"arxiv.org\",\n      \"openalex.org\"\n    ],\n    strongSourceTypes: [\"peer_reviewed_article\", \"official_agency\", \"academic_reference\"],\n    allowOfficialSingleSource: true,\n    allowCuratedSingleSource: true,\n    quotePolicy: \"short_excerpt_or_public_domain_only\"\n  },\n\n  general: {\n    discipline: \"general\",\n    minSources: 2,\n    preferredProviderOrder: [\"curated\", \"openalex\", \"crossref\"],\n    preferredDomains: [\n      \"openalex.org\",\n      \"britannica.com\",\n      \"encyclopedia.com\",\n      \"wikisource.org\",\n      \"gutenberg.org\"\n    ],\n    strongSourceTypes: [\"curated_reference\", \"peer_reviewed_article\", \"academic_reference\", \"official_source\"],\n    allowOfficialSingleSource: true,\n    allowCuratedSingleSource: true,\n    quotePolicy: \"short_excerpt_or_public_domain_only\"\n  }\n};\n\nconst sourcePolicy = {\n  ...(policies[discipline] || policies.general),\n  rejectSourceTypes: [\n    \"content_farm\",\n    \"seo_blog\",\n    \"ai_generated_page\",\n    \"unsourced_wiki_copy\",\n    \"forum_post\",\n    \"social_media_post\"\n  ],\n  sufficiencyRules: {\n    insufficientIfNoSources: true,\n    insufficientIfNoDirectSupport: true,\n    weakIfOnlyOneNonCuratedSource: true,\n    minimumConfidenceForOk: 0.65,\n    minimumConfidenceForWeak: 0.45\n  }\n};\n\nreturn [\n  {\n    json: {\n      ...item,\n      sourcePolicy\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,624],"id":"2fb15652-fbda-4881-973a-813353f1eb8f","name":"Load Source Policy"},{"parameters":{"jsCode":"const input = $input.item.json;\n\nconst sourceBriefQuality = input.sourceBriefQuality || \"none\";\nconst sourceBriefStatus = input.sourceBriefStatus || \"none\";\nconst sourceConfidence = Number(input.sourceConfidence ?? 0);\n\nconst sourceAuthoritySummary = input.sourceAuthoritySummary || {};\nconst sourcePolicy = input.sourcePolicy || {};\n\nconst saveToDb = input.saveToDb === true;\nconst researchEnabled = input.researchEnabled === true;\n\nconst totalSources = Number(sourceAuthoritySummary.totalSources || 0);\nconst strongSources = Number(sourceAuthoritySummary.strongSources || 0);\nconst minSources = Number(sourceAuthoritySummary.minSources || sourcePolicy.minSources || 2);\nconst hasCurated = sourceAuthoritySummary.hasCurated === true;\n\nconst isInsufficient =\n  sourceBriefQuality === \"insufficient\" ||\n  sourceBriefStatus === \"insufficient_sources\" ||\n  totalSources === 0 ||\n  sourceConfidence < 0.45;\n\nconst isWeak =\n  sourceBriefQuality === \"weak\" ||\n  sourceBriefStatus === \"weak\" ||\n  sourceConfidence < 0.65 ||\n  strongSources < minSources;\n\nconst sufficientForDraft =\n  !researchEnabled ||\n  !isInsufficient ||\n  hasCurated;\n\nconst sufficientForDb =\n  !researchEnabled ||\n  (\n    !isInsufficient &&\n    !isWeak &&\n    sourceConfidence >= 0.65 &&\n    (strongSources >= minSources || hasCurated)\n  );\n\nlet reason = \"source_sufficient\";\n\nif (researchEnabled && isInsufficient && saveToDb) {\n  reason = \"insufficient_sources_for_db\";\n} else if (researchEnabled && isInsufficient) {\n  reason = \"insufficient_sources_for_draft_with_review\";\n} else if (researchEnabled && isWeak && saveToDb) {\n  reason = \"weak_sources_for_db\";\n} else if (researchEnabled && isWeak) {\n  reason = \"weak_sources_for_draft_with_review\";\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n      sourceSufficiency: {\n        sufficientForDraft,\n        sufficientForDb,\n        reason,\n        researchEnabled,\n        saveToDb,\n        sourceBriefQuality,\n        sourceBriefStatus,\n        sourceConfidence,\n        totalSources,\n        strongSources,\n        minSources,\n        hasCurated,\n        discipline: sourcePolicy.discipline || null\n      }\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5264,368],"id":"e99fe8f3-c319-48a7-af5c-6a0d07f6f5cc","name":"Decide Source Sufficiency"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"721dd74c-987f-42d5-a6c9-41e2166f4c35","leftValue":"={{ !$json.researchEnabled || $json.sourceSufficiency.sufficientForDraft === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[5488,368],"id":"b33a345e-4894-4d05-b4ac-894a576f2e50","name":"IF Sufficient For DB Or Draft"},{"parameters":{"jsCode":"const input = $input.item.json;\n\nfunction normalize(value) {\n  return String(value || \"\")\n    .toLowerCase()\n    .trim()\n    .normalize(\"NFKD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^\\p{L}\\p{N}]+/gu, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nconst keyParts = {\n  topic: normalize(input.topic),\n  searchQuery: normalize(input.searchQuery),\n  categoryId: input.categoryId || null,\n  levelId: String(input.levelId || \"\"),\n  researchProvider: input.researchProvider || \"openalex\",\n  sourceLimit: Number(input.sourceLimit || 3),\n  sourcePolicyDiscipline: input.sourcePolicy?.discipline || null,\n  version: \"sourcebrief-v1\"\n};\n\nconst rawKey = JSON.stringify(keyParts);\n\nlet hash = 0;\nfor (let i = 0; i < rawKey.length; i++) {\n  hash = ((hash << 5) - hash) + rawKey.charCodeAt(i);\n  hash |= 0;\n}\n\nconst sourceBriefCacheKey = `sb_${Math.abs(hash).toString(36)}`;\n\nreturn [\n  {\n    json: {\n      ...input,\n      sourceBriefCacheKey,\n      sourceBriefCacheKeyParts: keyParts\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2352,368],"id":"4450fc3d-8e4e-463a-bbea-c2ddac3383f9","name":"Build Source Cache Key"},{"parameters":{"authentication":"serviceAccount","projectId":"studio-2985968119-3ca85","collection":"sourceBriefCache","documentId":"={{ $json.sourceBriefCacheKey }}"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[2576,368],"id":"acdf8aad-4c28-4d70-8da5-9f17c77bd433","name":"Get Source Brief Cache","alwaysOutputData":true,"credentials":{"googleApi":{"id":"i4yPKjshhrkRZM1L","name":"Google Firebase Cloud Firestore account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"b87f3788-5673-4e6c-a128-8de8a57ef2f1","leftValue":"={{ !!$json.sourceBrief }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2800,368],"id":"a61dfeba-c91a-4603-bea7-919c0b7e73f1","name":"IF Source Brief Cache Hit"},{"parameters":{"jsCode":"const cached = $input.item.json;\n\nreturn [\n  {\n    json: {\n      ...$(\"Build Source Cache Key\").item.json,\n\n      sourceBrief: cached.sourceBrief,\n      sourceBriefStatus: cached.sourceBriefStatus,\n      sourceBriefQuality: cached.sourceBriefQuality,\n      sourceConfidence: cached.sourceConfidence,\n\n      curatedSources: cached.curatedSources || [],\n      retrievedSources: cached.retrievedSources || [],\n      sourceAuthoritySummary: cached.sourceAuthoritySummary || null,\n      sourcePolicy: cached.sourcePolicy || $(\"Build Source Cache Key\").item.json.sourcePolicy || null,\n\n      sourceBriefCacheKey: cached.sourceBriefCacheKey || $(\"Build Source Cache Key\").item.json.sourceBriefCacheKey,\n      sourceBriefCacheHit: true,\n      sourceBriefCachedAt: cached.cachedAt || null\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5040,272],"id":"761f6378-3c40-4cdb-be47-5b2db0b16c8a","name":"Prepare Cached Source Brief"},{"parameters":{"jsCode":"const original = $(\"Build Source Cache Key\").item.json;\n\nreturn [\n  {\n    json: {\n      ...original,\n      sourceBriefCacheHit: false\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3024,464],"id":"704ece4a-5863-4420-b556-86f57e80d3a9","name":"Restore Source Cache Miss Item"},{"parameters":{"authentication":"serviceAccount","operation":"upsert","projectId":"studio-2985968119-3ca85","collection":"sourceBriefCache","updateKey":"sourceBriefCacheKey","columns":"sourceBriefCacheKey, sourceBriefCacheKeyParts, sourceBrief, sourceBriefStatus, sourceBriefQuality, sourceConfidence, sourceAuthoritySummary, sourcePolicy, curatedSources, retrievedSources, cachedAt, expiresAt, cacheVersion"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[4816,464],"id":"642a9ba1-155f-4fac-8607-6150cc419ac3","name":" Save Source Brief Cache","credentials":{"googleApi":{"id":"i4yPKjshhrkRZM1L","name":"Google Firebase Cloud Firestore account"}}},{"parameters":{"jsCode":"const input = $input.item.json;\n\nconst now = new Date();\nconst expiresAt = new Date(now.getTime() + 14 * 24 * 60 * 60 * 1000);\n\nreturn [\n  {\n    json: {\n      sourceBriefCacheKey: input.sourceBriefCacheKey,\n      sourceBriefCacheKeyParts: input.sourceBriefCacheKeyParts,\n\n      sourceBrief: input.sourceBrief,\n      sourceBriefStatus: input.sourceBriefStatus,\n      sourceBriefQuality: input.sourceBriefQuality,\n      sourceConfidence: input.sourceConfidence,\n\n      sourceAuthoritySummary: input.sourceAuthoritySummary || null,\n      sourcePolicy: input.sourcePolicy || null,\n\n      curatedSources: input.curatedSources || [],\n      retrievedSources: input.retrievedSources || [],\n\n      cachedAt: now.toISOString(),\n      expiresAt: expiresAt.toISOString(),\n\n      cacheVersion: \"sourcebrief-v1\"\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4592,464],"id":"37f4d7d3-14a0-403c-b533-4b5636e2d3f0","name":"Prepare Source Brief Cache Document"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      ...$(\"Build Source Brief\").item.json,\n      sourceBriefCacheHit: false,\n      sourceBriefCachedNow: true\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5040,464],"id":"ab06c868-c456-4f8c-a11f-d48ed6b26a74","name":"Restore After Source Cache Save"},{"parameters":{"jsCode":"const input = $input.item.json;\n\nfunction toSearchText(value) {\n  return String(value || \"\")\n    .toLowerCase()\n    .trim()\n    .normalize(\"NFKD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\");\n}\n\nfunction translitUk(value) {\n  return toSearchText(value)\n    .replace(/\\u0449/g, \"shch\")\n    .replace(/\\u0448/g, \"sh\")\n    .replace(/\\u0447/g, \"ch\")\n    .replace(/\\u0436/g, \"zh\")\n    .replace(/\\u0445/g, \"kh\")\n    .replace(/\\u0446/g, \"ts\")\n    .replace(/\\u044e/g, \"iu\")\n    .replace(/\\u044f/g, \"ia\")\n    .replace(/\\u0454/g, \"ie\")\n    .replace(/\\u0457/g, \"i\")\n    .replace(/\\u0456/g, \"i\")\n    .replace(/\\u0491/g, \"g\")\n    .replace(/\\u0439/g, \"i\")\n    .replace(/\\u0430/g, \"a\")\n    .replace(/\\u0431/g, \"b\")\n    .replace(/\\u0432/g, \"v\")\n    .replace(/\\u0433/g, \"h\")\n    .replace(/\\u0434/g, \"d\")\n    .replace(/\\u0435/g, \"e\")\n    .replace(/\\u0437/g, \"z\")\n    .replace(/\\u0438/g, \"y\")\n    .replace(/\\u043a/g, \"k\")\n    .replace(/\\u043b/g, \"l\")\n    .replace(/\\u043c/g, \"m\")\n    .replace(/\\u043d/g, \"n\")\n    .replace(/\\u043e/g, \"o\")\n    .replace(/\\u043f/g, \"p\")\n    .replace(/\\u0440/g, \"r\")\n    .replace(/\\u0441/g, \"s\")\n    .replace(/\\u0442/g, \"t\")\n    .replace(/\\u0443/g, \"u\")\n    .replace(/\\u0444/g, \"f\")\n    .replace(/\\u044c/g, \"\");\n}\n\nfunction normalizeKeyText(value) {\n  return translitUk(value)\n    .replace(/[^a-z0-9]+/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction slugify(value) {\n  return normalizeKeyText(value)\n    .replace(/\\s+/g, \"-\")\n    .replace(/^-+|-+$/g, \"\")\n    .slice(0, 80);\n}\n\nconst topicKeyText = normalizeKeyText(input.topic);\nconst discipline = input.sourcePolicy?.discipline || \"general\";\n\nlet curatedSourceSetKey = `${discipline}__${slugify(input.topic)}`;\n\nconst aliases = [\n  {\n    key: \"history__kyivska-rus\",\n    discipline: \"history\",\n    keywords: [\n      \"kyivska rus\",\n      \"kiivska rus\",\n      \"kyivan rus\",\n      \"kievan rus\"\n    ]\n  }\n];\n\nconst matched = aliases.find((entry) => {\n  if (entry.discipline && entry.discipline !== discipline) {\n    return false;\n  }\n\n  return entry.keywords.some((keyword) => {\n    return topicKeyText.includes(normalizeKeyText(keyword));\n  });\n});\n\nif (matched) {\n  curatedSourceSetKey = matched.key;\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n      curatedSourceSetKey,\n      curatedSourceSetLookup: {\n        topic: input.topic,\n        normalizedTopic: topicKeyText,\n        discipline,\n        matchedAlias: matched?.key || null\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3248,464],"id":"e5c9f3ed-02fe-473f-8a04-abe1b23add9c","name":"Build Curated Source Set Key"},{"parameters":{"authentication":"serviceAccount","projectId":"studio-2985968119-3ca85","collection":"curatedSourceSets","documentId":"={{ $json.curatedSourceSetKey }}"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[3472,464],"id":"10531433-458f-44d1-96d2-87d74f2acb72","name":"Get Curated Source Set","alwaysOutputData":true,"credentials":{"googleApi":{"id":"i4yPKjshhrkRZM1L","name":"Google Firebase Cloud Firestore account"}}},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      sourceSetId: \"history__kyivska-rus\",\n      discipline: \"history\",\n      title: \"Kyivska Rus\",\n      status: \"active\",\n      reliability: \"high\",\n      keywords: [\n        \"kyivska rus\",\n        \"kyivan rus\",\n        \"kievan rus\",\n        \"kyiv rus\",\n        \"rus\"\n      ],\n      sources: [\n        {\n          sourceType: \"curated_monograph\",\n          title: \"Tolochko P. P. Kyivska Rus\",\n          author: \"Petro Tolochko\",\n          year: 1996,\n          publisher: \"Abrys\",\n          place: \"Kyiv\",\n          reliability: \"high\",\n          note: \"Curated Ukrainian historical monograph on the political, social, and cultural development of Kyivska Rus.\",\n          evidenceNotes: [\n            \"Kyivska Rus is treated as a medieval state of the Eastern Slavs.\",\n            \"Kyiv was a political and cultural center of the state.\",\n            \"The origin, structure, and legacy of Kyivska Rus have different historiographic interpretations.\"\n          ]\n        },\n        {\n          sourceType: \"curated_monograph\",\n          title: \"Motsia O. P., Rychka V. M. Kyivska Rus: vid yazychnytstva do khrystyianstva\",\n          author: \"Oleksandr Motsia; Volodymyr Rychka\",\n          year: 1996,\n          publisher: \"Globus\",\n          place: \"Kyiv\",\n          reliability: \"high\",\n          note: \"Curated historical work on the religious and cultural transformation of Kyivska Rus and Christianization.\",\n          evidenceNotes: [\n            \"Christianization was one of the key factors in the cultural transformation of Kyivska Rus.\",\n            \"The transition from paganism to Christianity influenced political, cultural, and international connections of Rus.\"\n          ]\n        }\n      ],\n      updatedAt: new Date().toISOString(),\n      version: 1\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,1408],"id":"6b73b340-493a-48dc-897d-0e7dde1b2ccd","name":"Seed Kyivska Rus Curated Source Set"},{"parameters":{"authentication":"serviceAccount","operation":"upsert","projectId":"studio-2985968119-3ca85","collection":"curatedSourceSets","updateKey":"sourceSetId","columns":"sourceSetId, discipline, title, status, reliability, keywords, sources, updatedAt, version"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[-112,1408],"id":"02c59cf1-1dff-4813-8101-754e37664341","name":"Create or update a document","credentials":{"googleApi":{"id":"i4yPKjshhrkRZM1L","name":"Google Firebase Cloud Firestore account"}}},{"parameters":{"chatId":"={{$json.message.chat.id}}","text":"Access denied","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[112,512],"id":"ef1685f3-0dda-41ee-9da8-8aca4e8fc3ef","name":"Send Access Denied","webhookId":"034ab88a-77e4-4468-b65f-cfdb9fe07360","credentials":{"telegramApi":{"id":"WLaUgunVuF7TVeQx","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $json.telegramChatId }}","text":"=Not enough reliable sources for database write.\n\nTopic: {{ $json.topic }}\nReason: {{ $json.sourceSufficiency.reason }}\nSource quality: {{ $json.sourceBriefQuality }}\nConfidence: {{ $json.sourceConfidence }}\n\nTry narrowing the topic or adding a curated source.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[5712,272],"id":"d9914e36-b53e-4f02-89e6-706aec30b00b","name":"Send Insufficient Sources","webhookId":"5b4bc239-5c91-43f8-9229-a813f7e6a648","credentials":{"telegramApi":{"id":"WLaUgunVuF7TVeQx","name":"Telegram account"}}},{"parameters":{"jsCode":"const original = $(\"Load Curated Sources\").item.json;\nconst searchResponse = $input.item.json || {};\n\nconst hasOpenAlexError =\n  Boolean(searchResponse.error) ||\n  Boolean(searchResponse.errorMessage) ||\n  Boolean(searchResponse.message && !Array.isArray(searchResponse.results));\n\nconst results = Array.isArray(searchResponse.results)\n  ? searchResponse.results\n  : [];\n\nreturn [\n  {\n    json: {\n      ...original,\n      openAlexResponse: searchResponse,\n      openAlexAvailable: !hasOpenAlexError,\n      openAlexError: hasOpenAlexError\n        ? {\n            error: searchResponse.error || null,\n            errorMessage: searchResponse.errorMessage || searchResponse.message || \"OpenAlex request failed.\",\n            httpCode: searchResponse.httpCode || searchResponse.statusCode || null\n          }\n        : null,\n      results\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4144,464],"id":"1b5486c2-020c-497f-b678-fc95b68232a6","name":"Attach OpenAlex Results"},{"parameters":{"jsCode":"const pending = $input.first().json;\nconst callback = $(\"Parse Callback\").item.json;\nconst action = callback.action;\n\nconst currentStatus = pending.status || \"unknown\";\n\nconst allowedStatusesByAction = {\n  approve: [\"pending_review\", \"needs_revision\"],\n  revise: [\"pending_review\"],\n  reject: [\"pending_review\", \"needs_revision\"]\n};\n\nconst allowedStatuses = allowedStatusesByAction[action] || [];\nconst isActionable = allowedStatuses.includes(currentStatus);\n\nreturn [\n  {\n    json: {\n      ...pending,\n      callbackAction: action,\n      callbackQuestionId: callback.questionId,\n      callbackTelegramChatId: callback.telegramChatId,\n      callbackTelegramMessageId: callback.telegramMessageId,\n      callbackQueryId: callback.callbackQueryId,\n      isActionable,\n      currentStatus,\n      blockedReason: isActionable\n        ? null\n        : `Question has already been processed or cannot be changed from status: ${currentStatus}`\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,-560],"id":"586e7b78-7bc3-411d-ab5e-d4caf64535f3","name":"Validate Pending Callback State"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"7799ac5a-3875-4d8f-9a6f-1d8ba503d2bf","leftValue":"={{ $json.isActionable === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1232,-560],"id":"7d66e6d3-edef-4154-912b-799201e0ac6d","name":"IF Pending Callback Actionable"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.callbackAction }}","rightValue":"approve","operator":{"type":"string","operation":"equals"},"id":"6051dc1e-2022-4027-a7e7-ccdbc0c00cc9"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ace51e30-6cc9-4274-bebf-27722507e5c1","leftValue":"={{ $json.callbackAction }}","rightValue":"revise","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f1f70dab-5b5d-435f-a53c-50884cf56af4","leftValue":"={{ $json.callbackAction }}","rightValue":"reject","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1456,-624],"id":"9136febd-0010-42f4-afe3-628927b1ff5f","name":"Switch Action After Validation"},{"parameters":{"jsCode":"const pending = $input.item.json;\n\nconst now = new Date().toISOString();\n\nreturn [\n  {\n    json: {\n      ...pending,\n      status: \"rejected\",\n      rejectedAt: now,\n      updatedAt: now\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,-320],"id":"5343f2ea-c92b-4c2a-9536-5c1f1b629160","name":"Prepare Pending Rejected Status"},{"parameters":{"chatId":"={{ $json.telegramChatId || $json.callbackTelegramChatId }}","text":"={{ \"This question has already been processed.\\n\\nID: \" + ($json.questionId || $json.callbackQuestionId) + \"\\nCurrent status: \" + $json.currentStatus }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1456,-320],"id":"1db072a4-4805-44c9-9325-e6ca1d33364c","name":"Send Callback Already Processed:","webhookId":"6d88d093-5d0f-4cd1-a4d2-2a20cd406d26","credentials":{"telegramApi":{"id":"WLaUgunVuF7TVeQx","name":"Telegram account"}}},{"parameters":{"jsCode":"const input = $input.item.json;\n\nfunction normalize(value) {\n  return String(value || \"\")\n    .toLowerCase()\n    .trim()\n    .normalize(\"NFKD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/\\s+/g, \" \");\n}\n\nfunction translitUk(value) {\n  return normalize(value)\n    .replace(/\\u0449/g, \"shch\")\n    .replace(/\\u0448/g, \"sh\")\n    .replace(/\\u0447/g, \"ch\")\n    .replace(/\\u0436/g, \"zh\")\n    .replace(/\\u0445/g, \"kh\")\n    .replace(/\\u0446/g, \"ts\")\n    .replace(/\\u044e/g, \"iu\")\n    .replace(/\\u044f/g, \"ia\")\n    .replace(/\\u0454/g, \"ie\")\n    .replace(/\\u0457/g, \"i\")\n    .replace(/\\u0456/g, \"i\")\n    .replace(/\\u0491/g, \"g\")\n    .replace(/\\u0439/g, \"i\")\n    .replace(/\\u0430/g, \"a\")\n    .replace(/\\u0431/g, \"b\")\n    .replace(/\\u0432/g, \"v\")\n    .replace(/\\u0433/g, \"h\")\n    .replace(/\\u0434/g, \"d\")\n    .replace(/\\u0435/g, \"e\")\n    .replace(/\\u0437/g, \"z\")\n    .replace(/\\u0438/g, \"y\")\n    .replace(/\\u043a/g, \"k\")\n    .replace(/\\u043b/g, \"l\")\n    .replace(/\\u043c/g, \"m\")\n    .replace(/\\u043d/g, \"n\")\n    .replace(/\\u043e/g, \"o\")\n    .replace(/\\u043f/g, \"p\")\n    .replace(/\\u0440/g, \"r\")\n    .replace(/\\u0441/g, \"s\")\n    .replace(/\\u0442/g, \"t\")\n    .replace(/\\u0443/g, \"u\")\n    .replace(/\\u0444/g, \"f\")\n    .replace(/\\u044c/g, \"\");\n}\n\nfunction unique(values) {\n  return [...new Set(values.map((v) => String(v || \"\").trim()).filter(Boolean))];\n}\n\nconst topic = String(input.topic || \"\").trim();\nconst normalizedTopic = normalize(topic);\nconst transliteratedTopic = translitUk(topic);\nconst discipline = input.sourcePolicy?.discipline || \"general\";\n\nconst researchQueries = [topic];\n\nif (transliteratedTopic && transliteratedTopic !== normalizedTopic) {\n  researchQueries.push(transliteratedTopic);\n}\n\nif (discipline === \"philosophy\") {\n  researchQueries.push(`${topic} philosophy`);\n  researchQueries.push(`${transliteratedTopic} philosophy`);\n  researchQueries.push(`${topic} religion`);\n  researchQueries.push(`${transliteratedTopic} religion`);\n  researchQueries.push(`${topic} anthropology`);\n  researchQueries.push(`${transliteratedTopic} anthropology`);\n}\n\nif (discipline === \"history\") {\n  researchQueries.push(`${topic} history`);\n  researchQueries.push(`${transliteratedTopic} history`);\n  researchQueries.push(`${topic} culture`);\n  researchQueries.push(`${transliteratedTopic} culture`);\n}\n\nif (discipline === \"science\") {\n  researchQueries.push(`${topic} science`);\n  researchQueries.push(`${transliteratedTopic} research`);\n}\n\nconst aliasRules = [\n  {\n    match: [\"фейєрбах\", \"feiierbakh\", \"feyerbach\", \"feuerbach\"],\n    queries: [\n      \"Ludwig Feuerbach philosophy\",\n      \"Ludwig Feuerbach The Essence of Christianity\",\n      \"Feuerbach religion anthropology\",\n      \"Feuerbach materialism\"\n    ]\n  },\n  {\n    match: [\"кант\", \"kant\"],\n    queries: [\n      \"Immanuel Kant philosophy\",\n      \"Kant epistemology\",\n      \"Kant Critique of Pure Reason\",\n      \"Kant transcendental idealism\"\n    ]\n  },\n  {\n    match: [\"київська русь\", \"kyivska rus\", \"kyivan rus\", \"kievan rus\"],\n    queries: [\n      \"Kievan Rus history\",\n      \"Kyivan Rus history\",\n      \"Kyiv Rus medieval state\",\n      \"Kievan Rus culture\"\n    ]\n  }\n];\n\nfor (const rule of aliasRules) {\n  const matched = rule.match.some((item) => {\n    const normalizedMatch = normalize(item);\n    const transliteratedMatch = translitUk(item);\n\n    return (\n      normalizedTopic.includes(normalizedMatch) ||\n      transliteratedTopic.includes(normalizedMatch) ||\n      normalizedTopic.includes(transliteratedMatch) ||\n      transliteratedTopic.includes(transliteratedMatch)\n    );\n  });\n\n  if (matched) {\n    researchQueries.push(...rule.queries);\n  }\n}\n\nconst finalQueries = unique(researchQueries).slice(0, 5);\n\nreturn [\n  {\n    json: {\n      ...input,\n      searchQuery: finalQueries[0],\n      researchQueries: finalQueries,\n      researchQueryCount: finalQueries.length,\n      researchQueryStrategy: {\n        topic,\n        normalizedTopic,\n        transliteratedTopic,\n        discipline\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,-1024],"id":"da18b7f1-be57-487a-b10c-9b048c8414a5","name":"Prepare Research Queries","disabled":true},{"parameters":{"jsCode":"const input = $input.item.json;\n\nconst prompt = [\n  \"You are a research query planner for an educational quiz generation system.\",\n  \"\",\n  \"Your task is NOT to write educational content and NOT to invent sources.\",\n  \"Your task is only to transform the user topic into effective academic search queries for OpenAlex.\",\n  \"\",\n  \"Return only valid JSON. Do not use Markdown.\",\n  \"\",\n  \"INPUT:\",\n  JSON.stringify(\n    {\n      topic: input.topic,\n      categoryId: input.categoryId,\n      discipline: input.sourcePolicy?.discipline || \"general\",\n      levelId: input.levelId,\n      questionType: input.type,\n      requestedSourceLimit: input.sourceLimit\n    },\n    null,\n    2\n  ),\n  \"\",\n  \"RULES:\",\n  \"- Prefer English academic search queries unless the topic is specifically local, Ukrainian, or better known in another language.\",\n  \"- Do not transliterate as the main strategy unless the topic is a proper noun with no common English form.\",\n  \"- Include the canonical English name if the topic is a person, concept, work, event, or theory.\",\n  \"- Search queries must be short and suitable for OpenAlex.\",\n  \"- Do not invent bibliographic references.\",\n  \"- Do not include URLs.\",\n  \"- Avoid broad generic queries if the user topic is specific.\",\n  \"\",\n  \"OUTPUT JSON SHAPE:\",\n  JSON.stringify(\n    {\n      canonicalTopic: \"string\",\n      detectedLanguage: \"uk|en|other|unknown\",\n      discipline: \"string\",\n      searchLanguage: \"en\",\n      searchQueries: [\n        \"short academic query 1\",\n        \"short academic query 2\",\n        \"short academic query 3\"\n      ],\n      requiredEvidence: [\n        \"claim or concept that sources should support\"\n      ],\n      sourceSelectionCriteria: {\n        preferredSourceTypes: [\n          \"peer_reviewed_article\",\n          \"academic_book\",\n          \"academic_reference\",\n          \"primary_text\"\n        ],\n        rejectIf: [\n          \"book review only\",\n          \"unrelated discipline\",\n          \"no direct support for the topic\"\n        ]\n      }\n    },\n    null,\n    2\n  )\n].join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      ...input,\n      researchPlanPrompt: prompt,\n      openAiResearchPlanBody: {\n        model: \"gpt-4.1-mini\",\n        input: prompt\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,368],"id":"8fcefbec-0359-42c2-b3d8-fcb0a9c7278f","name":"Prepare Research Plan Request"},{"parameters":{"jsCode":"const input = $input.first().json;\n\nconst aiText =\n  input.output_text ||\n  input.output?.[0]?.content?.[0]?.text ||\n  input.output?.[0]?.content?.find?.((c) => c.type === \"output_text\")?.text ||\n  input.text ||\n  \"\";\n\nconst original = $(\"Prepare Research Plan Request\").item.json;\n\nfunction fallbackPlan(reason) {\n  const topic = String(original.topic || \"\").trim();\n\n  return {\n    canonicalTopic: topic,\n    detectedLanguage: \"unknown\",\n    discipline: original.sourcePolicy?.discipline || \"general\",\n    searchLanguage: \"en\",\n    searchQueries: [\n      topic\n    ],\n    requiredEvidence: [\n      topic\n    ],\n    sourceSelectionCriteria: {\n      preferredSourceTypes: [\n        \"peer_reviewed_article\",\n        \"academic_book\",\n        \"academic_reference\"\n      ],\n      rejectIf: [\n        \"book review only\",\n        \"unrelated discipline\",\n        \"no direct support for the topic\"\n      ]\n    },\n    fallbackReason: reason\n  };\n}\n\nlet researchPlan;\n\ntry {\n  const cleaned = String(aiText)\n    .trim()\n    .replace(/^```json\\s*/i, \"\")\n    .replace(/^```\\s*/i, \"\")\n    .replace(/```$/i, \"\")\n    .trim();\n\n  researchPlan = JSON.parse(cleaned);\n} catch (error) {\n  researchPlan = fallbackPlan(\"research_plan_json_parse_failed\");\n}\n\nif (!researchPlan || typeof researchPlan !== \"object\") {\n  researchPlan = fallbackPlan(\"research_plan_not_object\");\n}\n\nif (!Array.isArray(researchPlan.searchQueries)) {\n  researchPlan.searchQueries = [];\n}\n\nresearchPlan.searchQueries = [...new Set(\n  researchPlan.searchQueries\n    .map((q) => String(q || \"\").trim())\n    .filter(Boolean)\n)].slice(0, 5);\n\nif (researchPlan.searchQueries.length === 0) {\n  researchPlan.searchQueries = [String(original.topic || \"\").trim()].filter(Boolean);\n}\n\nreturn [\n  {\n    json: {\n      ...original,\n      researchPlan,\n      searchQuery: researchPlan.searchQueries[0] || original.topic,\n      researchQueries: researchPlan.searchQueries,\n      researchQueryCount: researchPlan.searchQueries.length,\n      canonicalTopic: researchPlan.canonicalTopic || original.topic,\n      requiredEvidence: Array.isArray(researchPlan.requiredEvidence)\n        ? researchPlan.requiredEvidence\n        : []\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,368],"id":"63a5cdc4-6317-4c8b-ad6a-142dd50dab44","name":"Parse Research Plan"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/responses","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-4.1-mini"},{"name":"input","value":"={{ $json.openAiResearchPlanBody.input }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1904,368],"id":"5f462464-682d-4fa9-a30c-9af023e29d57","name":"OpenAI Research Plan","credentials":{"openAiApi":{"id":"gAmwH7x8JpBuSJrV","name":"OpenAI account"}}},{"parameters":{"jsCode":"function normalizeQuestionType(value) {\n  const raw = String(value || \"\")\n    .trim()\n    .toUpperCase()\n    .replace(/[\\s-]+/g, \"_\")\n    .replace(/_+/g, \"_\");\n\n  const aliases = {\n    SINGLECHOICE: \"SINGLE_CHOICE\",\n    SINGLE_CHOICE: \"SINGLE_CHOICE\",\n\n    MULTIPLECHOICE: \"MULTIPLE_CHOICE\",\n    MULTIPLE_CHOICE: \"MULTIPLE_CHOICE\",\n\n    TRUEFALSE: \"TRUE_FALSE\",\n    TRUE_FALSE: \"TRUE_FALSE\",\n\n    FILLINTHEBLANK: \"FILL_IN_THE_BLANK\",\n    FILL_IN_THE_BLANK: \"FILL_IN_THE_BLANK\",\n\n    TEXTINPUT: \"TEXT_INPUT\",\n    TEXT_INPUT: \"TEXT_INPUT\",\n\n    IMAGECHOICE: \"IMAGE_CHOICE\",\n    IMAGE_CHOICE: \"IMAGE_CHOICE\",\n\n    READINGCOMPREHENSION: \"READING_COMPREHENSION\",\n    READING_COMPREHENSION: \"READING_COMPREHENSION\",\n\n    SLIDERSCALE: \"SLIDER_SCALE\",\n    SLIDER_SCALE: \"SLIDER_SCALE\",\n\n    TENFACTS: \"TEN_FACTS\",\n    TEN_FACTS: \"TEN_FACTS\",\n\n    SEQUENCE: \"SEQUENCE\",\n    MATCHING: \"MATCHING\",\n    COMPARISON: \"COMPARISON\"\n  };\n\n  return aliases[raw] || raw;\n}\n\nfunction formatReason(value) {\n  return String(value || \"\")\n    .replace(/_/g, \" \")\n    .trim();\n}\n\nfunction formatAnswerPreview(data) {\n  if (Array.isArray(data.answers)) {\n    return data.answers\n      .map((answer, index) => {\n        const isCorrect =\n          Array.isArray(data.correctAnswerIndices) &&\n          data.correctAnswerIndices.includes(index);\n\n        return `${index + 1}. ${answer}${isCorrect ? \" [correct]\" : \"\"}`;\n      })\n      .join(\"\\n\");\n  }\n\n  if (data.type === \"TRUE_FALSE\") {\n    return `Correct answer: ${data.correctAnswer ? \"true\" : \"false\"}`;\n  }\n\n  if (Array.isArray(data.correctAnswers)) {\n    return `Correct answers: ${data.correctAnswers.join(\", \")}`;\n  }\n\n  if (data.type === \"MATCHING\") {\n    return [\n      \"Left side:\",\n      ...(data.leftSide || []).map((x, i) => `${i + 1}. ${x}`),\n      \"\",\n      \"Right side:\",\n      ...(data.rightSide || []).map((x, i) => `${i + 1}. ${x}`)\n    ].join(\"\\n\");\n  }\n\n  if (data.type === \"COMPARISON\") {\n    return [\n      \"Categories:\",\n      ...(data.categories || []).map((x, i) => `${i + 1}. ${x}`),\n      \"\",\n      \"Statements:\",\n      ...(data.statements || []).map((x, i) => `${i + 1}. ${x.text}`)\n    ].join(\"\\n\");\n  }\n\n  return \"Preview is not configured for this question type.\";\n}\n\nreturn $input.all().map((item) => {\n  const output = { ...item.json };\n\n  if (!output.valid || !output.documentData) {\n    return { json: output };\n  }\n\n  const data = {\n    ...output.documentData,\n    type: normalizeQuestionType(output.documentData.type)\n  };\n\n  if (Array.isArray(data.correctAnswerIndices)) {\n    data.correctAnswerIndices = data.correctAnswerIndices.map(Number);\n  }\n\n  output.documentData = data;\n\n  const generationOptions = output.generationOptions || {};\n  const sourceQualityText = generationOptions.researchEnabled\n    ? [\n        `Source quality: ${generationOptions.sourceBriefQuality || \"unknown\"}`,\n        `Source confidence: ${generationOptions.sourceConfidence ?? \"unknown\"}`,\n        generationOptions.sourceSufficiency?.reason\n          ? `Source sufficiency: ${formatReason(generationOptions.sourceSufficiency.reason)}`\n          : null\n      ].filter(Boolean).join(\"\\n\")\n    : null;\n\n  output.previewText = [\n    \"New question for moderation\",\n    \"\",\n    `Category: ${output.categoryId}`,\n    `Level: ${output.levelId}`,\n    `Block: ${data.block || output.block}`,\n    `Type: ${data.type}`,\n    `ID: ${output.questionId}`,\n    `Topics: ${(data.topics || []).join(\", \")}`,\n    sourceQualityText,\n    \"\",\n    \"Question:\",\n    data.question || data.text || \"No short question text\",\n    \"\",\n    \"Answers:\",\n    formatAnswerPreview(data),\n    \"\",\n    data.explanation ? `Explanation:\\n${data.explanation}` : \"Explanation: missing\",\n    \"\",\n    data.provenance?.sourceIds?.length\n      ? `Sources:\\n${data.provenance.sourceIds.join(\"\\n\")}`\n      : null,\n    \"\",\n    \"Actions:\",\n    \"approve / reject / revise\"\n  ].filter(Boolean).join(\"\\n\");\n\n  return { json: output };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8176,128],"id":"07f8c439-f4fc-4c04-9716-90ab08785291","name":"Normalize Question Document"}],"connections":{"IF Valid Question":{"main":[[{"node":"IF Save To DB","type":"main","index":0}],[{"node":"False IF Valid Question","type":"main","index":0}]]},"Save Pending Question":{"main":[[{"node":"True IF Valid Question","type":"main","index":0},{"node":"IF Is Revision Result","type":"main","index":0}]]},"Prepare Pending Document":{"main":[[{"node":"Save Pending Question","type":"main","index":0}]]},"Telegram Trigger Noesis":{"main":[[{"node":"IF Access","type":"main","index":0}]]},"IF Callback Query":{"main":[[{"node":"Parse Callback","type":"main","index":0}],[{"node":"IF Revision Reply","type":"main","index":0}]]},"Parse Callback":{"main":[[{"node":"Switch Callback Action","type":"main","index":0}]]},"IF Access":{"main":[[{"node":"IF Callback Query","type":"main","index":0}],[{"node":"Send Access Denied","type":"main","index":0}]]},"Switch Callback Action":{"main":[[{"node":"Get Pending Question","type":"main","index":0}],[{"node":"Get Pending Question for Revise","type":"main","index":0}],[{"node":"Get Pending Question for Reject","type":"main","index":0}]]},"Save Approved Question":{"main":[[{"node":"Send Approve Success","type":"main","index":0}]]},"Get Pending Question":{"main":[[{"node":"Validate Pending Callback State","type":"main","index":0}]]},"Send Approve Success":{"main":[[]]},"Parse Question JSON":{"main":[[{"node":"Normalize Question Document","type":"main","index":0}]]},"IF Generate Command":{"main":[[{"node":"Parse Generate Options","type":"main","index":0}],[{"node":"Parse Question JSON","type":"main","index":0}]]},"Parse Generate Options":{"main":[[{"node":"IF Generate Options Parsed","type":"main","index":0}]]},"OpenAI Generate via Prompt":{"main":[[{"node":"Prepare AI JSON","type":"main","index":0}]]},"Prepare AI JSON":{"main":[[{"node":"IF Generated Quiz","type":"main","index":0}]]},"IF Save To DB":{"main":[[{"node":"Prepare Pending Document","type":"main","index":0}],[{"node":"Build Question Document","type":"main","index":0}]]},"Build Question Document":{"main":[[{"node":"Send Question Document","type":"main","index":0}]]},"IF Generated Quiz":{"main":[[{"node":"Build Quiz Document","type":"main","index":0}],[{"node":"Decide Review Need","type":"main","index":0}]]},"Build Quiz Document":{"main":[[{"node":"Send Quiz Document","type":"main","index":0},{"node":"IF Save Quiz To DB","type":"main","index":0}]]},"IF Save Quiz To DB":{"main":[[{"node":"Split Quiz Questions","type":"main","index":0}],[]]},"Split Quiz Questions":{"main":[[{"node":"Parse Quiz Questions Batch","type":"main","index":0}]]},"True IF Valid Question":{"main":[[]]},"Parse Quiz Questions Batch":{"main":[[{"node":"IF Valid Question","type":"main","index":0}]]},"Get Pending Question for Reject":{"main":[[{"node":"Validate Pending Callback State","type":"main","index":0}]]},"Update Pending as Rejected":{"main":[[{"node":"Send Reject Success","type":"main","index":0}]]},"Get Pending Question for Revise":{"main":[[{"node":"Validate Pending Callback State","type":"main","index":0}]]},"Prepare Revision Request":{"main":[[{"node":"Update Pending as Needs Revision","type":"main","index":0}]]},"Update Pending as Needs Revision":{"main":[[{"node":"Send Revision Request","type":"main","index":0}]]},"IF Revision Reply":{"main":[[{"node":"Parse Revision Reply","type":"main","index":0}],[{"node":"IF Generate Command","type":"main","index":0}]]},"Parse Revision Reply":{"main":[[{"node":"IF Revision Reply Parsed","type":"main","index":0}]]},"Get Pending Question for Revision Comment":{"main":[[{"node":"Prepare Revision Comment","type":"main","index":0}]]},"Prepare Revision Comment":{"main":[[{"node":"Update Pending with Revision Comment","type":"main","index":0}]]},"Update Pending with Revision Comment":{"main":[[{"node":"Prepare OpenAI Revision Request","type":"main","index":0}]]},"IF Revision Reply Parsed":{"main":[[{"node":"Get Pending Question for Revision Comment","type":"main","index":0}],[{"node":"Send Revision Parse Error","type":"main","index":0}]]},"OpenAI Revise Question":{"main":[[{"node":"Prepare Revised AI JSON","type":"main","index":0}]]},"Prepare Revised AI JSON":{"main":[[{"node":"Parse Question JSON","type":"main","index":0}]]},"Prepare OpenAI Revision Request":{"main":[[{"node":"OpenAI Revise Question","type":"main","index":0}]]},"Prepare Old Question Revised Status":{"main":[[{"node":"Update Old Question as Revised","type":"main","index":0}]]},"Update Old Question as Revised":{"main":[[{"node":"Send Revision Completed","type":"main","index":0}]]},"OpenAlex Search":{"main":[[{"node":"Attach OpenAlex Results","type":"main","index":0}]]},"IF Research Enabled":{"main":[[{"node":"Prepare Research Plan Request","type":"main","index":0}],[{"node":"Prepare OpenAI Generate Request","type":"main","index":0}]]},"Build Source Brief":{"main":[[{"node":"Prepare Source Brief Cache Document","type":"main","index":0}]]},"Prepare OpenAI Generate Request":{"main":[[{"node":"OpenAI Generate via Prompt","type":"main","index":0}]]},"Load Curated Sources":{"main":[[{"node":"OpenAlex Search","type":"main","index":0}]]},"Prepare Review Request":{"main":[[{"node":"OpenAI Review Question","type":"main","index":0}]]},"OpenAI Review Question":{"main":[[{"node":"Attach Review Result","type":"main","index":0}]]},"Attach Review Result":{"main":[[{"node":"IF Review Passed","type":"main","index":0}]]},"IF Review Passed":{"main":[[{"node":"Parse Question JSON","type":"main","index":0},{"node":"Send Review Summary","type":"main","index":0}],[{"node":"Send Review Failed","type":"main","index":0}]]},"Send Quiz Document":{"main":[[]]},"IF Is Revision Result":{"main":[[{"node":"Prepare Old Question Revised Status","type":"main","index":0}]]},"IF Generate Options Parsed":{"main":[[{"node":"Load Source Policy","type":"main","index":0}],[{"node":"Send Generate Options Error","type":"main","index":0}]]},"IF Should Review":{"main":[[{"node":"Prepare Review Request","type":"main","index":0}],[{"node":"Parse Question JSON","type":"main","index":0}]]},"Decide Review Need":{"main":[[{"node":"IF Should Review","type":"main","index":0}]]},"Send Review Summary":{"main":[[]]},"Prepare Approved Question":{"main":[[{"node":"Save Approved Question","type":"main","index":0}]]},"Load Source Policy":{"main":[[{"node":"IF Research Enabled","type":"main","index":0}]]},"Decide Source Sufficiency":{"main":[[{"node":"IF Sufficient For DB Or Draft","type":"main","index":0}]]},"IF Sufficient For DB Or Draft":{"main":[[{"node":"Prepare OpenAI Generate Request","type":"main","index":0}],[{"node":"Send Insufficient Sources","type":"main","index":0}]]},"Build Source Cache Key":{"main":[[{"node":"Get Source Brief Cache","type":"main","index":0}]]},"Get Source Brief Cache":{"main":[[{"node":"IF Source Brief Cache Hit","type":"main","index":0}]]},"IF Source Brief Cache Hit":{"main":[[{"node":"Prepare Cached Source Brief","type":"main","index":0}],[{"node":"Restore Source Cache Miss Item","type":"main","index":0}]]},"Prepare Cached Source Brief":{"main":[[{"node":"Decide Source Sufficiency","type":"main","index":0}]]},"Restore Source Cache Miss Item":{"main":[[{"node":"Build Curated Source Set Key","type":"main","index":0}]]}," Save Source Brief Cache":{"main":[[{"node":"Restore After Source Cache Save","type":"main","index":0}]]},"Prepare Source Brief Cache Document":{"main":[[{"node":" Save Source Brief Cache","type":"main","index":0}]]},"Restore After Source Cache Save":{"main":[[{"node":"Decide Source Sufficiency","type":"main","index":0}]]},"Build Curated Source Set Key":{"main":[[{"node":"Get Curated Source Set","type":"main","index":0}]]},"Get Curated Source Set":{"main":[[{"node":"Load Curated Sources","type":"main","index":0}]]},"Seed Kyivska Rus Curated Source Set":{"main":[[{"node":"Create or update a document","type":"main","index":0}]]},"Attach OpenAlex Results":{"main":[[{"node":"Build Source Brief","type":"main","index":0}]]},"Validate Pending Callback State":{"main":[[{"node":"IF Pending Callback Actionable","type":"main","index":0}]]},"IF Pending Callback Actionable":{"main":[[{"node":"Switch Action After Validation","type":"main","index":0}],[{"node":"Send Callback Already Processed:","type":"main","index":0}]]},"Switch Action After Validation":{"main":[[{"node":"Prepare Approved Question","type":"main","index":0}],[{"node":"Prepare Revision Request","type":"main","index":0}],[{"node":"Prepare Pending Rejected Status","type":"main","index":0}]]},"Prepare Pending Rejected Status":{"main":[[{"node":"Update Pending as Rejected","type":"main","index":0}]]},"Prepare Research Queries":{"main":[[]]},"Prepare Research Plan Request":{"main":[[{"node":"OpenAI Research Plan","type":"main","index":0}]]},"Parse Research Plan":{"main":[[{"node":"Build Source Cache Key","type":"main","index":0}]]},"OpenAI Research Plan":{"main":[[{"node":"Parse Research Plan","type":"main","index":0}]]},"Normalize Question Document":{"main":[[{"node":"IF Valid Question","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"becfa9a4-7749-4076-a70f-72bd684feed6","activeVersionId":null,"versionCounter":423,"triggerCount":0,"shared":[{"updatedAt":"2026-05-11T08:46:59.416Z","createdAt":"2026-05-11T08:46:59.416Z","role":"workflow:owner","workflowId":"8sW21dCQ9WEAQ5HK","projectId":"5SMcUjcbsHgwK5f6","project":{"updatedAt":"2026-05-10T17:07:24.475Z","createdAt":"2026-05-10T17:02:09.600Z","id":"5SMcUjcbsHgwK5f6","name":"Ivan hanushchynivan@gmail.com <hanushchynivan@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eedaf1dc-cba9-4ef2-9e50-feca1aa81642"}}],"tags":[],"activeVersion":null}